---
layout: dmcs
title: CS 2803 - Schedule
---

<meta http-equiv="refresh" content="0; url=spring2019.html" />

<p>This page should redirect to the current semester schedule.  If it doesn't, click on the current semester below, which should be the first one listed.</p>

<p><a href="spring2019.html">Spring 2019</a></p>
<p><a href="spring2018.html">Spring 2018</a></p>
