---
layout: dmcs
title: CS 2803-DIM - Spring 2019
---

<h1>CS 2803-DMCS Spring 2019</h1>

<h2>Weekly Schedule</h2>

<p>Lectures: Mondays and Wednesdays from 16:30 - 17:45 in CoC 102</p>
<p>Recitations: Thursdays from 18:00 - 19:15 in CoC 102</p>

<h2>Lecture Schedule</h2>

<p>
  Topics link to slides, where available.
</p>

<p>ITCS means <a href="http://interactivepython.org/runestone/static/thinkcspy/index.html">Interactive Think CS Textbook</a></p>
<p>IP means <a href="http://shop.oreilly.com/product/0636920028659.do">Introducting Python</a></p>
<p>TP means Think Python, 2nd Edition, by Allen B. Downey, O'Reilly Media, December 2015. Available free at <a href="http://greenteapress.com/wp/think-python-2e/">http://greenteapress.com/wp/think-python-2e/</a> and from O'Reilly at <a href="http://shop.oreilly.com/product/0636920045267.do">http://shop.oreilly.com/product/0636920045267.do</a></p>

<div class="table-responsive">
  <table class="table table-bordered table-hover">

    <thead class="thead-dark">
      <th>Date</th>
      <th>Topics</th>
      <th>Reading and Resources</th>
      <th>Reminders</th>
    </thead>
    
    
    <thead class="thead-light"><th colspan="4"><p>Python</p></th></thead>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 1</p></th></thead>
    
    
    
    <tr>
      <td>2019-01-07</td>
      <td>
        
        <a href="../slides/intro-python.pdf">Intro to Python</a><br/>
        
        <a href="../slides/python-values-variables.pdf">Values and Variables</a>
      </td>
      <td>
        
        TP 1<br/>
        
        <a href="https://youtu.be/ZDCHBkTMfE8">Video: Intro to Python</a><br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/SimplePythonData/toctree.html">ITCS - Simple Data</a><br/>
        
        TP 2<br/>
        
        <a href="https://youtu.be/iKG_hAXy0qQ">Video: Values and Variables</a><br/>
        
        <a href="../exercises/values-variables.html">Drill - Values and Variables</a><br/>
        
        
      </td>
      <td>
        
        <a href="spring2019/hw0/hw0.html">HW0 Released 2019-01-07</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-01-09</td>
      <td>
        
        <a href="../slides/python-functions.pdf">Functions</a>
      </td>
      <td>
        
        <a href="../slides/cs1-python-functions.pdf">CS1 Python Functions</a><br/>
        
        TP 3<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 2</p></th></thead>
    
    
    
    <tr>
      <td>2019-01-14</td>
      <td>
        
        <a href="../slides/python-data-structures.pdf">Data Structures</a><br/>
        
        <a href="../slides/python-modules-programs.pdf">Modules and Programs</a><br/>
        
        <a href="../slides/ipython.pdf">iPython</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Lists/toctree.html">ITCS - Lists</a><br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Dictionaries/toctree.html">ITCS - Dictionaries</a><br/>
        
        TP 10,11,12<br/>
        
        <a href="https://youtu.be/TtAQxtgPOwI">Video: Data Structures</a><br/>
        
        TP 1,14<br/>
        
        Exercise: <a href="../exercises/bmi.html">BMI Module</a><br/>
        
        Exercise: <a href="../exercises/hangman.html">Hangman</a><br/>
        
        <br/>
        
        
      </td>
      <td>
        
        <a href="spring2019/hw0/hw0.html">HW0 Due 2019-01-15</a><br/>
        
        Payment Deadline (2019-01-14)
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-01-16</td>
      <td>
        
        <a href="../slides/python-control-structures.pdf">Control Structures</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Selection/toctree.html">ITCS - Selection</a><br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/MoreAboutIteration/toctree.html">ITCS - Iteration</a><br/>
        
        TP 5, 7<br/>
        
        Drill: <a href="../exercises/data-transformation.html">Data Transformation</a><br/>
        
        Exercise: <a href="../exercises/data-util.html">Data Utilities</a><br/>
        
        Exercise: <a href="../exercises/grades.html">Grades Module</a><br/>
        
        
      </td>
      <td>
        
        <a href="spring2019/hw1/word-hist.html">HW1 Released 2019-01-18</a>
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 3</p></th></thead>
    
    
    
    <tr>
      <td>2019-01-21</td>
      <td>
        
        MLK Day - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-01-23</td>
      <td>
        
        <a href="../slides/python-functional-programming.pdf">Functional programming</a>
      </td>
      <td>
        
        TP 19<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 4</p></th></thead>
    
    
    
    <tr>
      <td>2019-01-28</td>
      <td>
        
        <a href="../slides/python-functional-programming.pdf">Functional programming</a>
      </td>
      <td>
        
        TP 19<br/>
        
        
      </td>
      <td>
        
        <a href="spring2019/hw1/word-hist.html">HW1 Due 2019-01-29</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-01-30</td>
      <td>
        
        <a href="../slides/python-classes-objects.pdf">Classes and Objects</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/ClassesBasics/toctree.html">ITCS - Classes and Objects</a><br/>
        
        <a href="../code/classes">OOP Code</a><br/>
        
        TP 15 - 18<br/>
        
        <a href="../exercises/people-objects.html">Exercise: Treating People as Objects</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 5</p></th></thead>
    
    
    
    <tr>
      <td>2019-02-04</td>
      <td>
        
        Review 1
      </td>
      <td>
        
        <a href="cs2316-exam1-practice.pdf">dme-exam1-practice.pdf</a><br/>
        
        <a href="cs2316-exam1-practice-answers.pdf">cs2316-exam1-practice-answers.pdf</a><br/>
        
        <a href="../exercises/exam1-practice.html">Exam 1 Practice Problems</a><br/>
        
        
      </td>
      <td>
        
        <a href="spring2019/hw2/gtstudents.html">HW2 Released 2019-02-04</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-02-06</td>
      <td>
        
        <strong>Exam 1</strong>
      </td>
      <td>
        
        <a href="cs2316-exam1-practice.pdf">cs2316-exam1-practice.pdf</a><br/>
        
        <a href="cs2316-exam1-practice-answers.pdf">cs2316-exam1-practice-answers.pdf</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Data Manipulation</p></th></thead>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 6</p></th></thead>
    
    
    
    <tr>
      <td>2019-02-11</td>
      <td>
        
        <a href="../slides/python-file-io.pdf">File IO</a><br/>
        
        <a href="../slides/python-csv-files.pdf">CSV Files</a>
      </td>
      <td>
        
        IP 8<br/>
        
        <a href="../exercises/tree.html">Exercise: Tree</a><br/>
        
        IP 8<br/>
        
        Exercise: <a href="../exercises/student-emails.html">Student Emails</a> (<a href="../exercises/student_emails.py">Sample Answer</a>)<br/>
        
        Exercise: <a href="../exercises/tides.html">Tides</a><br/>
        
        Exercise: <a href="../exercises/calc-grades.html">Calculate Grades</a><br/>
        
        
      </td>
      <td>
        
        <a href="spring2019/hw2/gtstudents.html">HW2 Due 2019-02-12</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-02-13</td>
      <td>
        
        <a href="../slides/python-data-exchange-formats.pdf">Data Exchange Formats</a>
      </td>
      <td>
        
        IP 8<br/>
        
        <a href="../slides/xml-details.pdf">XML Details</a><br/>
        
        <a href="../slides/python-xml-database.pdf">Python XML and Database APIs</a><br/>
        
        <a href="http://json.org/">JSON Spec</a><br/>
        
        <a href="../code/structured-files/people.xml">people.xml</a><br/>
        
        Exercise: <a href="../exercises/books.html">Books</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 7</p></th></thead>
    
    
    
    <tr>
      <td>2019-02-18</td>
      <td>
        
        No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        Progress Report Deadline (Faculty Only) (2019-02-18)
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-02-20</td>
      <td>
        
        <a href="../slides/html.pdf">HTML</a><br/>
        
        <a href="../slides/python-regular-expressions.pdf">Regular Expressions</a>
      </td>
      <td>
        
        IP 8<br/>
        
        <a href=""></a><br/>
        
        IP 7<br/>
        
        <a href="https://docs.python.org/3/library/re.html">Python RE Module</a><br/>
        
        <a href="https://docs.python.org/3/howto/regex.html">Python Regex HowTo</a><br/>
        
        
      </td>
      <td>
        
        <a href="spring2019/hw3/playlists.html">HW3 Released 2019-02-20</a>
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 8</p></th></thead>
    
    
    
    <tr>
      <td>2019-02-25</td>
      <td>
        
        <a href="../slides/python-web-scraping.pdf">Web Scraping</a><br/>
        
        <a href="../slides/python-web-services.pdf">Web Services</a>
      </td>
      <td>
        
        <a href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/">Beautiful Soup</a><br/>
        
        <a href="../code/web/wx.py">wx.py</a><br/>
        
        <a href="../code/web/movie.py">movie.py</a><br/>
        
        Exercise: <a href="../exercises/company-scraper.html">Company Scraper</a><br/>
        
        IP 8<br/>
        
        <a href="http://docs.python-requests.org/en/master/">Requests</a><br/>
        
        <a href="https://oauth.net/">OAuth</a><br/>
        
        <a href="http://json.org/">JSON Spec</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-02-27</td>
      <td>
        
        <a href="../slides/sql-ddl.pdf">SQL DDL</a><br/>
        
        <a href="../slides/sql-crud.pdf">SQL CRUD</a>
      </td>
      <td>
        
        <a href="../databases/mysql.html">MySQL Guide</a><br/>
        
        Exercise: <a href="../exercises/registration-database.html">Registration Database</a><br/>
        
        Exercise: <a href="../exercises/pubs-queries.sql">Pubs Queries</a><br/>
        
        <a href="../databases/mysql.html">MySQL Guide</a><br/>
        
        Exercise: <a href="../exercises/registration-database.html">Registration Database</a><br/>
        
        Exercise: <a href="../exercises/pubs-queries.sql">Pubs Queries</a><br/>
        
        
      </td>
      <td>
        
        <a href="spring2019/hw3/playlists.html">HW3 Due 2019-02-28</a>
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Python Data Analytics</p></th></thead>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 9</p></th></thead>
    
    
    
    <tr>
      <td>2019-03-04</td>
      <td>
        
        <a href="../slides/sql-queries.pdf">SQL Queries</a>
      </td>
      <td>
        
        <a href="../databases/mysql.html">MySQL Guide</a> - on databases course web site<br/>
        
        Exercise: <a href="../exercises/registration-database.html">Registration Database</a><br/>
        
        Exercise: <a href="../exercises/dorms-queries.html">Exercise: Dorms Queries</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-03-06</td>
      <td>
        
        <a href="../slides/scipy.pdf">Data Analytics in Python</a><br/>
        
        <a href="../slides/numpy.pdf">NumPy</a>
      </td>
      <td>
        
        <a href="https://gitlab.com/datamastery/datamastery.gitlab.io/tree/master/code/analytics">Example code</a><br/>
        
        <a href="https://scipy.org/">SciPy.org</a><br/>
        
        <a href="https://docs.scipy.org/doc/numpy-1.14.0/index.html">Numpy Manual</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 10</p></th></thead>
    
    
    
    <tr>
      <td>2019-03-11</td>
      <td>
        
        <a href="../slides/pandas.pdf">Pandas</a><br/>
        
        <a href="../slides/python-dataviz.pdf">Data Visualization with Python</a>
      </td>
      <td>
        
        <a href="http://pandas.pydata.org/">Pandas.PyData.org</a><br/>
        
        Exercise: <a href="../exercises/health-analysis.html">Health Data Analysis</a><br/>
        
        <a href="https://matplotlib.org/">Matplotlib.org</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-03-13</td>
      <td>
        
        <a href="../slides/scikit-learn.pdf">Scikit-learn</a>
      </td>
      <td>
        
        <a href="http://scikit-learn.org/stable/">Scikit-learn.org</a><br/>
        
        
      </td>
      <td>
        
        Take-home Exam 2 due<br/>
        
        Withdrawal Deadline (2019-03-13)
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 11</p></th></thead>
    
    
    
    <tr>
      <td>2019-03-18</td>
      <td>
        
        Spring Break - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-03-20</td>
      <td>
        
        Spring Break - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Essential Scala</p></th></thead>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 12</p></th></thead>
    
    
    
    <tr>
      <td>2019-03-25</td>
      <td>
        
        <a href="https://cs2340.gitlab.io/slides/scala-intro.pdf">Intro to Scala</a><br/>
        
        <a href="https://cs2340.gitlab.io/slides/scala-values-variables.pdf">Values and Variables</a><br/>
        
        <a href="https://cs2340.gitlab.io/slides/scala-control-structures.pdf">Scala Control Structures</a>
      </td>
      <td>
        
        PIS, Ch 2<br/>
        
        Primary reading: PIS, Ch 2, 3, 5<br/>
        
        Code: <a href="code.html#basics">Basics</a><br/>
        
        Primary reading: PIS, Ch 7<br/>
        
        Code: <a href="code.html#basics">Basics</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-03-27</td>
      <td>
        
        <a href="https://cs2340.gitlab.io/slides/scala-classes-objects.pdf">Scala Classes and Objects</a><br/>
        
        <a href="https://cs2340.gitlab.io/slides/scala-functions.pdf">Scala Function Basics</a>
      </td>
      <td>
        
        Primary reading: PIS, Ch 4, 6<br/>
        
        Code: <a href="code.html#basics">Basics</a><br/>
        
        Primary reading: PIS, Ch 2.3, 8.1-8.4, 8.8, 8.9<br/>
        
        Code: <a href="code.html#basics">Basics</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 13</p></th></thead>
    
    
    
    <tr>
      <td>2019-04-01</td>
      <td>
        
        <a href="https://cs2340.gitlab.io/slides/scala-oop.pdf">Object-oriented Programming in Scala</a><br/>
        
        <a href="slides/https://cs2340.gitlab.io/scala-case-classes.pdf">Scala Case Classes</a>
      </td>
      <td>
        
        PIS, Ch 10, 11<br/>
        
        PIS, Ch 15<br/>
        
        
      </td>
      <td>
        
        <a href="spring2019/hw4/movies-etl.html">HW4 Released 2019-04-01</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-04-03</td>
      <td>
        
        <a href="slides/https://cs2340.gitlab.io/scala-collections.pdf">Scala Collections</a>
      </td>
      <td>
        
        PIS, Ch 16, 17, 24, 25<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Big Data</p></th></thead>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 14</p></th></thead>
    
    
    
    <tr>
      <td>2019-04-08</td>
      <td>
        
        <a href="../slides/big-data.pdf">Big Data</a>
      </td>
      <td>
        
        <br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-04-10</td>
      <td>
        
        <a href="../slides/spark.pdf">Spark</a>
      </td>
      <td>
        
        <br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 15</p></th></thead>
    
    
    
    <tr>
      <td>2019-04-15</td>
      <td>
        
        <a href="../slides/spark.pdf">Spark</a>
      </td>
      <td>
        
        <br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2019-04-17</td>
      <td>
        
        <strong>Exam 3</strong>
      </td>
      <td>
        
        <br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 16</p></th></thead>
    
    
    
    <tr>
      <td>2019-04-22</td>
      <td>
        
        Review
      </td>
      <td>
        
        
      </td>
      <td>
        
        Final Instructional Days (2019-04-22)
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Final Exams</p></th></thead>
    
    
    
    <tr>
      <td>2019-05-01</td>
      <td>
        
        2:40 PM ‐ 5:30 PM
      </td>
      <td>
        
        
      </td>
      <td>
        
        <a href="spring2019/final/movies-analysis.html">Final Project</a>
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"></th></thead>
    
    
  </table>
</div>
