---
layout: qcf
title: QCF Python Workshop - Fall 2018
---

<h1>QCF Workshop - Fall 2018</h1>

<h2>Lecture Schedule</h2>

Tuesdays and Thursdays, 13:30 - 14:45 in Room 312 in the Executive Education wing of the Scheller College of Business

<h3>Please note the following room changes!</h3>

<ol>
    <li>The 13, 18, and 20 September sessions will be held in <a
            href="https://map.concept3d.com/?id=82#!m/11011" target="_new">Howey
        (Physics)</a> room L4.
    </li>
    <li>The 16 and 18 October sessions will be held in Room 314 in the
        Executive Education wing of the Scheller College of Business
    </li>
</ol>

<p>
  Topics link to slides, where available.
</p>

<p>ITCS means <a href="http://interactivepython.org/runestone/static/thinkcspy/index.html">Interactive Think CS Textbook</a></p>
<p>IP means <a href="http://shop.oreilly.com/product/0636920028659.do">Introducting Python</a></p>
<p>TP means Think Python, 2nd Edition, by Allen B. Downey, O'Reilly Media, December 2015. Available free at <a href="http://greenteapress.com/wp/think-python-2e/">http://greenteapress.com/wp/think-python-2e/</a> and from O'Reilly at <a href="http://shop.oreilly.com/product/0636920045267.do">http://shop.oreilly.com/product/0636920045267.do</a></p>

<div class="table-responsive">
  <table class="table table-bordered table-hover">

    <thead class="thead-dark">
      <th>Date</th>
      <th>Topics</th>
      <th>Reading and Resources</th>
      <th>Reminders</th>
    </thead>
    {% for row in table %}
    {% if "internal_header" in row %}
    <thead class="thead-light"><th colspan="4">{{(row["internal_header"]|markdown)}}</th></thead>
    {% else %}
    <tr>
      <td>{{row["date"]}}</td>
      <td>
        {% for item in row["topics"][:-1] %}
        {{(item|markdown).replace("<p>","").replace("</p>","")}}<br/>
        {% endfor %}
        {{(row["topics"][-1]|markdown).replace("<p>","").replace("</p>","")}}
      </td>
      <td>
        {% for item in row["materials"][:-1] %}
        {{(item|markdown).replace("<p>","").replace("</p>","")}}<br/>
        {% endfor %}
        {{(row["materials"][-1]|markdown).replace("<p>","").replace("</p>","")}}
      </td>
      <td>
        {% for item in row["reminders"][:-1] %}
        {{(item|markdown).replace("<p>","").replace("</p>","")}}<br/>
        {% endfor %}
        {{(row["reminders"][-1]|markdown).replace("<p>","").replace("</p>","")}}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</div>
