---
layout: qcf
title: QCF Python Workshop - Fall 2018
---

<h1>QCF Workshop - Fall 2018</h1>

<h2>Lecture Schedule</h2>

Tuesdays and Thursdays, 13:30 - 14:45 in Room 312 in the Executive Education wing of the Scheller College of Business

<h3>Please note the following room changes!</h3>

<ol>
    <li>The 13, 18, and 20 September sessions will be held in <a
            href="https://map.concept3d.com/?id=82#!m/11011" target="_new">Howey
        (Physics)</a> room L4.
    </li>
    <li>The 16 and 18 October sessions will be held in Room 314 in the
        Executive Education wing of the Scheller College of Business
    </li>
</ol>

<p>
  Topics link to slides, where available.
</p>

<p>ITCS means <a href="http://interactivepython.org/runestone/static/thinkcspy/index.html">Interactive Think CS Textbook</a></p>
<p>IP means <a href="http://shop.oreilly.com/product/0636920028659.do">Introducting Python</a></p>
<p>TP means Think Python, 2nd Edition, by Allen B. Downey, O'Reilly Media, December 2015. Available free at <a href="http://greenteapress.com/wp/think-python-2e/">http://greenteapress.com/wp/think-python-2e/</a> and from O'Reilly at <a href="http://shop.oreilly.com/product/0636920045267.do">http://shop.oreilly.com/product/0636920045267.do</a></p>

<div class="table-responsive">
  <table class="table table-bordered table-hover">

    <thead class="thead-dark">
      <th>Date</th>
      <th>Topics</th>
      <th>Reading and Resources</th>
      <th>Reminders</th>
    </thead>
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 1</p></th></thead>
    
    
    
    <tr>
      <td>2018-08-21</td>
      <td>
        
        Course Intro and Tool Setup
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-08-23</td>
      <td>
        
        <a href="../slides/intro-python.pdf">Intro to Python</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/GeneralIntro/introduction.html">ITCS - Introduction</a><br/>
        
        TP 1<br/>
        
        <a href="https://youtu.be/ZDCHBkTMfE8">Video: Intro to Python</a><br/>
        
        
      </td>
      <td>
        
        Registration Deadline (2018-08-24)
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 2</p></th></thead>
    
    
    
    <tr>
      <td>2018-08-28</td>
      <td>
        
        <a href="../slides/python-values-variables.pdf">Values and Variables</a><br/>
        
        <a href="../slides/python-functions.pdf">Functions</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/SimplePythonData/toctree.html">ITCS - Simple Data</a><br/>
        
        TP 2<br/>
        
        <a href="https://youtu.be/iKG_hAXy0qQ">Video: Values and Variables</a><br/>
        
        <a href="../exercises/values-variables.html">Drill - Values and Variables</a><br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Functions/toctree.html">ITCS - Functions</a><br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/PythonTurtle/toctree.html">ITCS - Turtles</a><br/>
        
        TP 3<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-08-30</td>
      <td>
        
        <a href="../slides/python-modules-programs.pdf">Modules and Programs</a><br/>
        
        <a href="../slides/python-data-structures.pdf">Data Structures</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/PythonModules/toctree.html">ITCS - Modules</a><br/>
        
        TP 1,14<br/>
        
        <a href="../code/hanglib/">hanglib</a><br/>
        
        Exercise: <a href="../exercises/bmi.html">BMI Module</a><br/>
        
        Exercise: <a href="../exercises/hangman.html">Hangman</a><br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Lists/toctree.html">ITCS - Lists</a><br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Dictionaries/toctree.html">ITCS - Dictionaries</a><br/>
        
        TP 10,11,12<br/>
        
        <a href="https://youtu.be/TtAQxtgPOwI">Video: Data Structures</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 3</p></th></thead>
    
    
    
    <tr>
      <td>2018-09-04</td>
      <td>
        
        <a href="../slides/ipython.pdf">iPython</a><br/>
        
        <a href="../slides/python-data-structures.pdf">Data Structures</a>
      </td>
      <td>
        
        <br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Lists/toctree.html">ITCS - Lists</a><br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Dictionaries/toctree.html">ITCS - Dictionaries</a><br/>
        
        TP 10,11,12<br/>
        
        <a href="https://youtu.be/TtAQxtgPOwI">Video: Data Structures</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-06</td>
      <td>
        
        <a href="../slides/python-control-structures.pdf">Control Structures</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Selection/toctree.html">ITCS - Selection</a><br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/MoreAboutIteration/toctree.html">ITCS - Iteration</a><br/>
        
        TP 5, 7<br/>
        
        Drill: <a href="../exercises/data-transformation.html">Data Transformation</a><br/>
        
        Exercise: <a href="../exercises/data-util.html">Data Utilities</a><br/>
        
        Exercise: <a href="../exercises/grades.html">Grades Module</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 4</p></th></thead>
    
    
    
    <tr>
      <td>2018-09-11</td>
      <td>
        
        <a href="../slides/python-control-structures.pdf">Control Structures</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Selection/toctree.html">ITCS - Selection</a><br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/MoreAboutIteration/toctree.html">ITCS - Iteration</a><br/>
        
        TP 5, 7<br/>
        
        Drill: <a href="../exercises/data-transformation.html">Data Transformation</a><br/>
        
        Exercise: <a href="../exercises/data-util.html">Data Utilities</a><br/>
        
        Exercise: <a href="../exercises/grades.html">Grades Module</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-13</td>
      <td>
        
        <a href="../slides/python-functional-programming.pdf">Functional programming</a>
      </td>
      <td>
        
        TP 19<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 5</p></th></thead>
    
    
    
    <tr>
      <td>2018-09-18</td>
      <td>
        
        Career Fair - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-20</td>
      <td>
        
        <a href="../slides/python-classes-objects.pdf">Classes and Objects</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/ClassesBasics/toctree.html">ITCS - Classes and Objects</a><br/>
        
        <a href="../code/classes">OOP Code</a><br/>
        
        TP 15 - 18<br/>
        
        <a href="../exercises/people-objects.html">Exercise: Treating People as Objects</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 6</p></th></thead>
    
    
    
    <tr>
      <td>2018-09-25</td>
      <td>
        
        <a href="../slides/python-file-io.pdf">File IO</a><br/>
        
        <a href="../slides/python-csv-files.pdf">CSV Files</a>
      </td>
      <td>
        
        IP 8<br/>
        
        <a href="../exercises/tree.html">Exercise: Tree</a><br/>
        
        IP 8<br/>
        
        Exercise: <a href="../exercises/student-emails.html">Student Emails</a> (<a href="../exercises/student_emails.py">Sample Answer</a>)<br/>
        
        Exercise: <a href="../exercises/tides.html">Tides</a><br/>
        
        Exercise: <a href="../exercises/calc-grades.html">Calculate Grades</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-27</td>
      <td>
        
        <a href="../slides/python-data-exchange-formats.pdf">Data Exchange Formats</a>
      </td>
      <td>
        
        IP 8<br/>
        
        <a href="../slides/xml-details.pdf">XML Details</a><br/>
        
        <a href="../slides/python-xml-database.pdf">Python XML and Database APIs</a><br/>
        
        <a href="http://json.org/">JSON Spec</a><br/>
        
        <a href="../code/structured-files/people.xml">people.xml</a><br/>
        
        Exercise: <a href="../exercises/books.html">Books</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 7</p></th></thead>
    
    
    
    <tr>
      <td>2018-10-02</td>
      <td>
        
        <a href="../slides/html.pdf">HTML</a><br/>
        
        <a href="../slides/python-regular-expressions.pdf">Regular Expressions</a>
      </td>
      <td>
        
        IP 8<br/>
        
        <a href=""></a><br/>
        
        IP 7<br/>
        
        <a href="https://docs.python.org/3/library/re.html">Python RE Module</a><br/>
        
        <a href="https://docs.python.org/3/howto/regex.html">Python Regex HowTo</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-04</td>
      <td>
        
        <a href="../slides/python-web-scraping.pdf">Web Scraping</a>
      </td>
      <td>
        
        <a href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/">Beautiful Soup</a><br/>
        
        <a href="../code/web/wx.py">wx.py</a><br/>
        
        <a href="../code/web/movie.py">movie.py</a><br/>
        
        Exercise: <a href="../exercises/company-scraper.html">Company Scraper</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 8</p></th></thead>
    
    
    
    <tr>
      <td>2018-10-09</td>
      <td>
        
        Fall Recess - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-11</td>
      <td>
        
        <a href="../slides/python-web-services.pdf">Web Services</a>
      </td>
      <td>
        
        IP 8<br/>
        
        <a href="http://docs.python-requests.org/en/master/">Requests</a><br/>
        
        <a href="https://oauth.net/">OAuth</a><br/>
        
        <a href="http://json.org/">JSON Spec</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 9</p></th></thead>
    
    
    
    <tr>
      <td>2018-10-16</td>
      <td>
        
        <a href="../slides/scipy.pdf">Data Analytics in Python</a><br/>
        
        <a href="../slides/numpy.pdf">NumPy</a>
      </td>
      <td>
        
        <a href="https://gitlab.com/datamastery/datamastery.gitlab.io/tree/master/code/analytics">Example code</a><br/>
        
        <a href="https://scipy.org/">SciPy.org</a><br/>
        
        <a href="https://docs.scipy.org/doc/numpy-1.14.0/index.html">Numpy Manual</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-18</td>
      <td>
        
        <a href="../slides/pandas.pdf">Pandas</a>
      </td>
      <td>
        
        <a href="http://pandas.pydata.org/">Pandas.PyData.org</a><br/>
        
        Exercise: <a href="../exercises/health-analysis.html">Health Data Analysis</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 10</p></th></thead>
    
    
    
    <tr>
      <td>2018-10-23</td>
      <td>
        
        <a href="../slides/python-dataviz.pdf">Data Visualization with Python</a>
      </td>
      <td>
        
        <a href="https://matplotlib.org/">Matplotlib.org</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-25</td>
      <td>
        
        <a href="../slides/nlp.pdf">Natural Language Processing</a>
      </td>
      <td>
        
        <a href="http://www.nltk.org/">NLTK</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Where to go from here</p></th></thead>
    
    
    
    <tr>
      <td>Webdev</td>
      <td>
        
        <a href="../slides/flask.pdf">Flask</a>
      </td>
      <td>
        
        IP 9<br/>
        
        <a href="http://flask.pocoo.org/">Flask Web site</a><br/>
        
        <a href="../code/web/gradebook.zip">Gradeboook App</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>Big Data</td>
      <td>
        
        <a href="https://hadoop.apache.org/">Hadoop</a><br/>
        
        <a href="https://www.scala-lang.org/">Scala</a><br/>
        
        <a href="https://spark.apache.org/">Spark</a>
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>Julia</td>
      <td>
        
        <a href="https://julialang.org/">Julia Programming Language</a>
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
  </table>
</div>
