---
layout: qcf
title: QCF Python Workshop - Schedule
---

<meta http-equiv="refresh" content="0; url=fall2018.html" />

<p>This page should redirect to the current semester schedule.  If it doesn't, click on the current semester below, which should be the first one listed.</p>

<p><a href="fall2018.html">Fall 2018</a></p>
