---
layout: computing
title: Computing Basics
---

<div class="jumbotron">
  <div class="media">
    <a class="pull-left" href="http://mitpress.mit.edu/sicp/">
      <img class="media-object" src="../images/lambda-java-wizard-logo.png" height="350px"
           hspace="20" title="Thank you Professors Abelson and Sussman">
    </a>
    <div class="media-body info" padding="10px">
      <h1 class="media-heading">Computing Basics</h1>
      <h2>Christopher Simpkins</h2>
      <h3>simpkins@cc.gatech.edu</h3>
	  <h3><a href="http://www.cc.gatech.edu/~simpkins/">www.cc.gatech.edu/~simpkins/</a></h3>
      </div>
  </div>

</div>
