---
layout: sabic
title: SABIC Intro Computing - Fall 2018
---

<h1>SABIC Introduction to Computing and Programming - Fall 2018</h1>

<h2>Lecture Schedule</h2>

<p>
  Topics link to slides, where available.
</p>

<p>PP means <a href="https://pragprog.com/book/gwpy3/practical-programming-third-edition">Practical Programming: An Introduction to Computer Science using Python 3.6</a></p>
<p>IP means <a href="http://shop.oreilly.com/product/0636920028659.do">Introducting Python</a></p>
<p>TP means Think Python, 2nd Edition, by Allen B. Downey, O'Reilly Media, December 2015. Available free at <a href="http://greenteapress.com/wp/think-python-2e/">http://greenteapress.com/wp/think-python-2e/</a> and from O'Reilly at <a href="http://shop.oreilly.com/product/0636920045267.do">http://shop.oreilly.com/product/0636920045267.do</a></p>

<div class="table-responsive">
  <table class="table table-bordered table-hover">

    <thead class="thead-dark">
      <th>Date</th>
      <th>Topics</th>
      <th>Reading and Resources</th>
      <th>Reminders</th>
    </thead>
    
    
    <thead class="thead-light"><th colspan="4"><p>Programming in Python</p></th></thead>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 1</p></th></thead>
    
    
    
    <tr>
      <td>2018-08-21</td>
      <td>
        
        <a href="../slides/cs1-intro.pdf">Intro to CS1</a>
      </td>
      <td>
        
        Practical Programming, Ch 1<br/>
        
        <a href="https://youtu.be/ZDCHBkTMfE8">Video: Intro to Python</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-08-23</td>
      <td>
        
        <a href="../slides/cs1-python-intro.pdf">Intro to CS in Python</a>
      </td>
      <td>
        
        Practical Programming, Ch 1<br/>
        
        <a href="https://youtu.be/ZDCHBkTMfE8">Video: Intro to Python</a><br/>
        
        
      </td>
      <td>
        
        Registration Deadline (2018-08-24)
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 2</p></th></thead>
    
    
    
    <tr>
      <td>2018-08-28</td>
      <td>
        
        <a href="../slides/cs1-python-values-variables.pdf">Values and Variables</a>
      </td>
      <td>
        
        Practical Programming, Ch 2<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-08-30</td>
      <td>
        
        <a href="../slides/cs1-python-functions.pdf">Functions</a>
      </td>
      <td>
        
        Practical Programming, Ch 3<br/>
        
        <a href="../slides/cs1-python-functions.pdf">CS1 Python Functions</a>
      </td>
      <td>
        
        <a href="fall2018/hw0/hw0.html">HW0 Released 2018-08-30</a>
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 3</p></th></thead>
    
    
    
    <tr>
      <td>2018-09-04</td>
      <td>
        
        <a href="../slides/cs1-python-strings.pdf">Strings</a>
      </td>
      <td>
        
        Practical Programming, Ch 4, 7<br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw0/hw0.html">HW0 Released 2018-09-05</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-06</td>
      <td>
        
        <a href="../slides/cs1-python-conditional-execution.pdf">Conditional Execution</a>
      </td>
      <td>
        
        Practical Programming, Ch 5<br/>
        
        
      </td>
      <td>
        
        Verification of Participation (Faculty) (2018-09-10)
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 4</p></th></thead>
    
    
    
    <tr>
      <td>2018-09-11</td>
      <td>
        
        <a href="../slides/cs1-python-modules-programs.pdf">Modules and Programs</a>
      </td>
      <td>
        
        Practical Programming, Ch 6<br/>
        
        <a href="../code/hanglib/">hanglib</a><br/>
        
        Exercise: <a href="../exercises/bmi.html">BMI Module</a><br/>
        
        Exercise: <a href="../exercises/hangman.html">Hangman</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-13</td>
      <td>
        
        ipython
      </td>
      <td>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw1/hw1-guess-number.html">HW1 Released 2018-09-16</a>
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 5</p></th></thead>
    
    
    
    <tr>
      <td>2018-09-18</td>
      <td>
        
        <a href="../slides/cs1-python-lists.pdf">Lists</a>
      </td>
      <td>
        
        Practical Programming, Ch 8<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-20</td>
      <td>
        
        <a href="../slides/cs1-python-loops.pdf">Loops</a>
      </td>
      <td>
        
        Practical Programming, Ch 9<br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw1/hw1-guess-number.html">HW1 Due 2018-09-21</a>
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 6</p></th></thead>
    
    
    
    <tr>
      <td>2018-09-25</td>
      <td>
        
        <a href="../slides/cs1-python-data-structures.pdf">Data Structures</a>
      </td>
      <td>
        
        Practical Programming, Ch 11<br/>
        
        <a href="https://youtu.be/TtAQxtgPOwI">Video: Data Structures</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-27</td>
      <td>
        
        <a href="../slides/cs1-python-data-structures.pdf">Data Structures</a>
      </td>
      <td>
        
        Practical Programming, Ch 11<br/>
        
        <a href="https://youtu.be/TtAQxtgPOwI">Video: Data Structures</a><br/>
        
        
      </td>
      <td>
        
        Progress Reports Due (Faculty) (2018-10-01)
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 7</p></th></thead>
    
    
    
    <tr>
      <td>2018-10-02</td>
      <td>
        
        review1
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-04</td>
      <td>
        
        Exam 1
      </td>
      <td>
        
        <br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 8</p></th></thead>
    
    
    
    <tr>
      <td>2018-10-09</td>
      <td>
        
        Fall Recess - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-11</td>
      <td>
        
        Fall Recess - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 9</p></th></thead>
    
    
    
    <tr>
      <td>2018-10-16</td>
      <td>
        
        Exam Review
      </td>
      <td>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw2/dates.html">HW2 Released 2018-10-17</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-18</td>
      <td>
        
        <a href="../slides/cs1-python-algorithm-design.pdf">Algorithm Design</a>
      </td>
      <td>
        
        Practical Programming, Ch 12<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 10</p></th></thead>
    
    
    
    <tr>
      <td>2018-10-23</td>
      <td>
        
        <a href="../slides/cs1-python-algorithm-design.pdf">Algorithm Design</a>
      </td>
      <td>
        
        Practical Programming, Ch 12<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-25</td>
      <td>
        
        <a href="../slides/cs1-python-algorithm-design.pdf">Algorithm Design</a>
      </td>
      <td>
        
        Practical Programming, Ch 12<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 11</p></th></thead>
    
    
    
    <tr>
      <td>2018-10-30</td>
      <td>
        
        <a href="../slides/cs1-python-algorithm-design.pdf">Algorithm Design</a>
      </td>
      <td>
        
        Practical Programming, Ch 12<br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw2/dates.html">HW2 Due 2018-10-31</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-01</td>
      <td>
        
        <a href="../slides/cs1-python-algorithm-design.pdf">Algorithm Design</a>
      </td>
      <td>
        
        Practical Programming, Ch 12<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 12</p></th></thead>
    
    
    
    <tr>
      <td>2018-11-06</td>
      <td>
        
        <a href="../slides/cs1-python-algorithm-design.pdf">Algorithm Design</a>
      </td>
      <td>
        
        Practical Programming, Ch 12<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-08</td>
      <td>
        
        Exam 2
      </td>
      <td>
        
        <br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 13</p></th></thead>
    
    
    
    <tr>
      <td>2018-11-13</td>
      <td>
        
        <a href="../slides/cs1-python-searching-sorting.pdf">Searching and Sorting</a>
      </td>
      <td>
        
        Practical Programming, Ch 13<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-15</td>
      <td>
        
        <a href="../slides/cs1-python-searching-sorting.pdf">Searching and Sorting</a>
      </td>
      <td>
        
        Practical Programming, Ch 13<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 14</p></th></thead>
    
    
    
    <tr>
      <td>2018-11-20</td>
      <td>
        
        <a href="../slides/cs1-python-searching-sorting.pdf">Searching and Sorting</a>
      </td>
      <td>
        
        Practical Programming, Ch 13<br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw3/radix.html">HW3 Released 2018-11-20</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-22</td>
      <td>
        
        Thanksgiving Break - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 15</p></th></thead>
    
    
    
    <tr>
      <td>2018-11-27</td>
      <td>
        
        <a href="../slides/cs1-python-searching-sorting.pdf">Searching and Sorting</a>
      </td>
      <td>
        
        Practical Programming, Ch 13<br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw3/radix.html">HW3 Due 2018-11-28</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-29</td>
      <td>
        
        <a href="../slides/cs1-python-algorithm-analysis.pdf">Algorithm Analysis</a>
      </td>
      <td>
        
        Practical Programming, Ch 13<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 16</p></th></thead>
    
    
    
    <tr>
      <td>2018-12-04</td>
      <td>
        
        <a href="../slides/cs1-python-recursion.pdf">Recursion</a><br/>
        
        Review
      </td>
      <td>
        
        Practical Programming, Ch 13<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-12-06</td>
      <td>
        
        Exam 3
      </td>
      <td>
        
        <br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
  </table>
</div>
