---
layout: sabic
title: SABIC Intro Computing
---

<div class="jumbotron">
<div class="media">
  <div class="pull-left">
    <img class="media-object" src="Coat_of_arms_of_Saudi_Arabia.svg" height="300px" width="90%">
  </div>
  <div class="media-body">
    <h1 class="media-heading">SABIC Introductoin to Computing</h1>
      <h2>Christopher Simpkins</h2>
      <h3>College of Computing, Room 133</h3>
      <h3>simpkins@cc.gatech.edu</h3>
    <p><a href="http://www.cc.gatech.edu/~simpkins/">www.cc.gatech.edu/~simpkins/</a></p>
  </div>
</div>
</div>
