---
layout: databases
title: CS 4400 Introduction to Database Systems
---

<div class="jumbotron">
  <div class="media">
    <img class="media-object pull-left" src="../images/database.png" width="150px">
    <div class="media-body info" padding="10px">
      <h1 class="media-heading">Introduction to Database Systems</h1>
      <h2>Christopher Simpkins</h2>
      <h3>College of Computing, Room 133</h3>
      <h3>Georgia Tech Lorraine, 103</h3>
      <h3>simpkins@cc.gatech.edu</h3>
    <p><a href="http://www.cc.gatech.edu/~simpkins/">www.cc.gatech.edu/~simpkins/</a></p>
  </div>
</div>
</div>

Possibly of interest:

<ul>
  <li><a href="https://play.google.com/music/playlist/AMaBXyljkw-xLA73EfZtc_gsREAF5y6yZpfW73BxHNKpkXjqpPQky1OK0Ly96y7Nnvfi-vmwRIrOSkYpsMqYyjQSqwu1wR0yfg%3D%3D">GTL Bumper Music</a></li>
  <li><a href="https://play.google.com/music/playlist/AMaBXyn2EE_P4YaQwahomxOXF7LeEJZwRYmHVq0EEg3MM6LWASVddNpcMWpKu2fBK1oGGN4kcppVBG7TyUkGBZYRhnBrxDG08Q==">Class Bumper Music</a></li>
</ul>
