---
layout: databases
title: CS 4400 - Summer 2018 GTL
---

<h1>CS 4400 - Summer 2018 GTL</h1>

<ul>
  <li>Lecture: 4 days per week from 11:30 - 12:30</li>
</ul>

<h2>Lecture Schedule</h2>

<p>
  Topics link to slides, where available.
</p>

<ul>
<li>FoDS means <a href="http://www.amazon.com/Fundamentals-Database-Systems-7th-Edition/dp/0133970779" target="_blank">Fundamentals of Database Systems</a>, the course textbook.
</ul>

<div class="table-responsive">
  <table class="table table-bordered table-hover">

    <thead class="thead-dark">
      <th>Date</th>
      <th>Topics</th>
      <th>Reading and Resources</th>
      <th>Reminders</th>
    </thead>
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 1</p></th></thead>
    
    
    
    <tr>
      <td>2018-05-14</td>
      <td>
        
        Dorm Check-in
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-05-15</td>
      <td>
        
        Orientations
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-05-16</td>
      <td>
        
        <a href="../slides/intro-cs4400.pdf">Introduction to CS 4400</a>
      </td>
      <td>
        
        <a href="http://cs1331.gatech.edu/slides/meet-simpkins.html">Meet the Teacher</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-05-17</td>
      <td>
        
        <a href="../slides/intro-databases.pdf">Introduction to Databases</a>
      </td>
      <td>
        
        FoDS 1<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-05-18</td>
      <td>
        
        <a href="../slides/database-concepts.pdf">Database Concepts</a>
      </td>
      <td>
        
        FoDS 2<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 2</p></th></thead>
    
    
    
    <tr>
      <td>2018-05-21</td>
      <td>
        
        No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-05-22</td>
      <td>
        
        Team Formation
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-05-23</td>
      <td>
        
        <a href="../slides/er-models.pdf">ER Models</a>
      </td>
      <td>
        
        FoDS 3.1-3.7.3<br/>
        
        <a href="../exercises/movie-rental-er.html">Movie Rental ER Exercise</a><br/>
        
        <a href="https://youtu.be/RAISMrNZgiA">Video: ER Models</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-05-24</td>
      <td>
        
        <a href="../slides/er-models.pdf">ER Models</a>
      </td>
      <td>
        
        FoDS 3.1-3.7.3<br/>
        
        <a href="../exercises/movie-rental-er.html">Movie Rental ER Exercise</a><br/>
        
        <a href="https://youtu.be/RAISMrNZgiA">Video: ER Models</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-05-25</td>
      <td>
        
        <a href="../slides/er-models.pdf">ER Models</a>
      </td>
      <td>
        
        FoDS 3.1-3.7.3<br/>
        
        <a href="../exercises/movie-rental-er.html">Movie Rental ER Exercise</a><br/>
        
        <a href="https://youtu.be/RAISMrNZgiA">Video: ER Models</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 3</p></th></thead>
    
    
    
    <tr>
      <td>2018-05-28</td>
      <td>
        
        <a href="../slides/eer-models.pdf">EER Models</a>
      </td>
      <td>
        
        FoDS 4.1-4.3<br/>
        
        <a href="../exercises/humane-society-eer.html">Humane Society EER Exercise</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-05-29</td>
      <td>
        
        Review 1
      </td>
      <td>
        
        <a href="cs4400-exam1-practice.pdf">cs4400-exam1-practice.pdf</a><br/>
        
        <a href="cs4400-exam1-practice-answers.pdf">cs4400-exam1-practice-answers.pdf</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-05-30</td>
      <td>
        
        <strong>Exam 1</strong>
      </td>
      <td>
        
        <br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-05-31</td>
      <td>
        
        <a href="../slides/conceptual-design-process.pdf">Conceptual Design Process</a>
      </td>
      <td>
        
        <br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-01</td>
      <td>
        
        No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 4</p></th></thead>
    
    
    
    <tr>
      <td>2018-06-04</td>
      <td>
        
        Exam 1 review<br/>
        
        Project Work Day<br/>
        
        Finalize team assignments
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-05</td>
      <td>
        
        <a href="../slides/relational-model.pdf">Relational Model</a></a>
      </td>
      <td>
        
        FoDS 5<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-06</td>
      <td>
        
        <a href="../slides/relational-model.pdf">Relational Model</a></a>
      </td>
      <td>
        
        FoDS 5<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-07</td>
      <td>
        
        <a href="../slides/relational-algebra.pdf">Relational Algebra</a>
      </td>
      <td>
        
        FoDS 8.1 - 8.3.4, 8.4.4<br/>
        
        <a href="../exercises/relational-algebra-exercises.pdf">Relational Algebra Exercises</a> - <a href="../exercises/relational-algebra-exercises-answers.pdf">Answers</a><br/>
        
        <a href="../exercises/relational-algebra-masterclass.pdf">Relational Algebra Masterclass</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-08</td>
      <td>
        
        No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 5</p></th></thead>
    
    
    
    <tr>
      <td>2018-06-11</td>
      <td>
        
        <a href="../slides/relational-algebra.pdf">Relational Algebra</a>
      </td>
      <td>
        
        FoDS 8.1 - 8.3.4, 8.4.4<br/>
        
        <a href="../exercises/relational-algebra-exercises.pdf">Relational Algebra Exercises</a> - <a href="../exercises/relational-algebra-exercises-answers.pdf">Answers</a><br/>
        
        <a href="../exercises/relational-algebra-masterclass.pdf">Relational Algebra Masterclass</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-12</td>
      <td>
        
        <a href="../slides/relational-algebra.pdf">Relational Algebra</a>
      </td>
      <td>
        
        FoDS 8.1 - 8.3.4, 8.4.4<br/>
        
        <a href="../exercises/relational-algebra-exercises.pdf">Relational Algebra Exercises</a> - <a href="../exercises/relational-algebra-exercises-answers.pdf">Answers</a><br/>
        
        <a href="../exercises/relational-algebra-masterclass.pdf">Relational Algebra Masterclass</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-13</td>
      <td>
        
        Project Work Day
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-14</td>
      <td>
        
        Project Work Day
      </td>
      <td>
        
        
      </td>
      <td>
        
        <strong>Phase 1 Due</strong>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-15</td>
      <td>
        
        No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 6</p></th></thead>
    
    
    
    <tr>
      <td>2018-06-18</td>
      <td>
        
        <a href="../slides/relational-calculus.pdf">Relational Calculus</a>
      </td>
      <td>
        
        FoDS 8.5<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-19</td>
      <td>
        
        Review 2
      </td>
      <td>
        
        <a href="cs4400-exam2-practice.pdf">cs4400-exam2-practice.pdf</a><br/>
        
        <a href="cs4400-exam2-practice-answers.pdf">cs4400-exam2-practice-answers.pdf</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-20</td>
      <td>
        
        <strong>Exam 2</strong>
      </td>
      <td>
        
        <br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-21</td>
      <td>
        
        <a href="../slides/er-relational-mapping.pdf">ER - Relational Mapping</a></a>
      </td>
      <td>
        
        FoDS 9<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-22</td>
      <td>
        
        <a href="../slides/er-relational-mapping.pdf">ER - Relational Mapping</a></a>
      </td>
      <td>
        
        FoDS 9<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 7</p></th></thead>
    
    
    
    <tr>
      <td>2018-06-25</td>
      <td>
        
        No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-26</td>
      <td>
        
        No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-27</td>
      <td>
        
        No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-28</td>
      <td>
        
        <a href="../slides/er-relational-mapping.pdf">ER - Relational Mapping</a></a>
      </td>
      <td>
        
        FoDS 9<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-29</td>
      <td>
        
        <a href="../slides/basic-relational-design.pdf">Basic Relational Design</a>
      </td>
      <td>
        
        FoDS 14.1-14.3<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 8</p></th></thead>
    
    
    
    <tr>
      <td>2018-07-02</td>
      <td>
        
        MySQL Install Fest
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-03</td>
      <td>
        
        Field Trip
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-04</td>
      <td>
        
        <a href="../slides/sql-ddl.pdf">SQL DDL</a><br/>
        
        <a href="../slides/sql-crud.pdf">SQL CRUD</a>
      </td>
      <td>
        
        FoDS 6<br/>
        
        FoDS 6<br/>
        
        <a href="../exercises/registration-database.html">Exercise: Registration Database</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-05</td>
      <td>
        
        <a href="../slides/sql-queries.pdf">SQL Queries</a>
      </td>
      <td>
        
        FoDS 6<br/>
        
        <a href="../exercises/dorms-queries.html">Exercise: Dorms Queries</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-06</td>
      <td>
        
        No CS 4400 Lecture
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 9</p></th></thead>
    
    
    
    <tr>
      <td>2018-07-09</td>
      <td>
        
        No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-10</td>
      <td>
        
        <a href="../slides/sql-queries.pdf">SQL Queries</a>
      </td>
      <td>
        
        FoDS 6<br/>
        
        <a href="../exercises/dorms-queries.html">Exercise: Dorms Queries</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-11</td>
      <td>
        
        <a href="../slides/sql-advanced.pdf">Advanced SQL</a>
      </td>
      <td>
        
        FoDS 6,7<br/>
        
        <a href="../exercises/sakila-queries.html">Exercise: Sakila Queries</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-12</td>
      <td>
        
        <a href="../slides/relational-design.pdf">Relational Design</a>
      </td>
      <td>
        
        FoDS 14.1-14.5<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-13</td>
      <td>
        
        No CS 4400 Lecture
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 10</p></th></thead>
    
    
    
    <tr>
      <td>2018-07-16</td>
      <td>
        
        In-class SQL exercises
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-17</td>
      <td>
        
        Project Work Day
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-18</td>
      <td>
        
        <a href="../slides/sql-advanced.pdf">Advanced SQL</a><br/>
        
        <a href="../slides/relational-design.pdf">Relational Design</a>
      </td>
      <td>
        
        FoDS 6,7<br/>
        
        <a href="../exercises/sakila-queries.html">Exercise: Sakila Queries</a><br/>
        
        FoDS 14.1-14.5<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-19</td>
      <td>
        
        <a href="../slides/relational-design.pdf">Relational Design</a>
      </td>
      <td>
        
        FoDS 14.1-14.5<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-20</td>
      <td>
        
        No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 11</p></th></thead>
    
    
    
    <tr>
      <td>2018-07-23</td>
      <td>
        
        <a href="../slides/relational-design.pdf">Relational Design</a>
      </td>
      <td>
        
        FoDS 14.1-14.5<br/>
        
        
      </td>
      <td>
        
        <strong>Phase 2 Due</strong>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-24</td>
      <td>
        
        <a href="../slides/advanced-relational-design.pdf">Advanced Relational Design</a>
      </td>
      <td>
        
        FoDS 15.1-15.3<br/>
        
        <a href="../exercises/bcnf-decomposition.pdf">BCNF Decomposition Exercise</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-25</td>
      <td>
        
        <strong>Exam 3</strong>
      </td>
      <td>
        
        <br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-26</td>
      <td>
        
        <a href="../slides/storage-structures.html">Storage Structures</a><br/>T-Square slides: <a href="https://files.t-square.gatech.edu/access/content/group/gtc-6170-2d0c-557c-837e-a9ff09efa298/Prof.%20Omiecinski/Prof%20O%20Revisions/Ch17_Ed.pdf">Ch17_Ed.pdf</a><br/>
        
        <a href="../slides/index-structures.html">Indexing Structures</a>
      </td>
      <td>
        
        FoDS 16.1-16.7<br/>
        
        FoDS 17<br/>
        
        
      </td>
      <td>
        
        Final Instructional Day
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-27</td>
      <td>
        
        Reading Day - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Finals Week</p></th></thead>
    
    
    
    <tr>
      <td>2018-07-30</td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-31</td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-08-01</td>
      <td>
        
        <strong>Phase 3 Due</strong>*
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-08-02</td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-08-03</td>
      <td>
        
        Dorm Check-out
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
  </table>
</div>
