---
layout: dme
title: CS 2316 - Fall 2018
---

<h1>CS 2316 - Fall 2018</h1>

<h2>Weekly Schedule</h2>

<p>Lectures: Mondays, Wednesdays, Fridays from 13:55 - 14:45 in Howey (Physics) L1</p>
<p>Recitations: Thursdays</p>
<ul>
  <li>A1: 18:00 - 19:15 in CoC 101</li>
  <li>A2: 18:00 - 19:15 in Van Leer C340</li>
  <li>A3: 18:00 - 19:15 in Mason 2117</li>
  <li>A4, GR: 18:00 - 19:15 in Instr Center 215</li>
  <li>A5: 18:00 - 19:15 in Bunger-Henry 380</li>
  <li>A6: 18:00 - 19:15 in Love (MRDC II) 183</li>
</ul>

<h2>Lecture Schedule</h2>

<p>
  Topics link to slides, where available.
</p>

<p>ITCS means <a href="http://interactivepython.org/runestone/static/thinkcspy/index.html">Interactive Think CS Textbook</a></p>
<p>IP means <a href="http://shop.oreilly.com/product/0636920028659.do">Introducting Python</a></p>
<p>TP means Think Python, 2nd Edition, by Allen B. Downey, O'Reilly Media, December 2015. Available free at <a href="http://greenteapress.com/wp/think-python-2e/">http://greenteapress.com/wp/think-python-2e/</a> and from O'Reilly at <a href="http://shop.oreilly.com/product/0636920045267.do">http://shop.oreilly.com/product/0636920045267.do</a></p>

<div class="table-responsive">
  <table class="table table-bordered table-hover">

    <thead class="thead-dark">
      <th>Date</th>
      <th>Topics</th>
      <th>Reading and Resources</th>
      <th>Reminders</th>
    </thead>
    {% for row in table %}
    {% if "internal_header" in row %}
    <thead class="thead-light"><th colspan="4">{{(row["internal_header"]|markdown)}}</th></thead>
    {% else %}
    <tr>
      <td>{{row["date"]}}</td>
      <td>
        {% for item in row["topics"][:-1] %}
        {{(item|markdown).replace("<p>","").replace("</p>","")}}<br/>
        {% endfor %}
        {{(row["topics"][-1]|markdown).replace("<p>","").replace("</p>","")}}
      </td>
      <td>
        {% for item in row["materials"][:-1] %}
        {{(item|markdown).replace("<p>","").replace("</p>","")}}<br/>
        {% endfor %}
        {{(row["materials"][-1]|markdown).replace("<p>","").replace("</p>","")}}
      </td>
      <td>
        {% for item in row["reminders"][:-1] %}
        {{(item|markdown).replace("<p>","").replace("</p>","")}}<br/>
        {% endfor %}
        {{(row["reminders"][-1]|markdown).replace("<p>","").replace("</p>","")}}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</div>
