---
layout: dme
title: CS 2316 - Fall 2018
---

<h1>CS 2316 - Fall 2018</h1>

<h2>Weekly Schedule</h2>

<p>Lectures: Mondays, Wednesdays, Fridays from 13:55 - 14:45 in Howey (Physics) L1</p>
<p>Recitations: Thursdays</p>
<ul>
  <li>A1: 18:00 - 19:15 in CoC 101</li>
  <li>A2: 18:00 - 19:15 in Van Leer C340</li>
  <li>A3: 18:00 - 19:15 in Mason 2117</li>
  <li>A4, GR: 18:00 - 19:15 in Instr Center 215</li>
  <li>A5: 18:00 - 19:15 in Bunger-Henry 380</li>
  <li>A6: 18:00 - 19:15 in Love (MRDC II) 183</li>
</ul>

<h2>Lecture Schedule</h2>

<p>
  Topics link to slides, where available.
</p>

<p>ITCS means <a href="http://interactivepython.org/runestone/static/thinkcspy/index.html">Interactive Think CS Textbook</a></p>
<p>IP means <a href="http://shop.oreilly.com/product/0636920028659.do">Introducting Python</a></p>
<p>TP means Think Python, 2nd Edition, by Allen B. Downey, O'Reilly Media, December 2015. Available free at <a href="http://greenteapress.com/wp/think-python-2e/">http://greenteapress.com/wp/think-python-2e/</a> and from O'Reilly at <a href="http://shop.oreilly.com/product/0636920045267.do">http://shop.oreilly.com/product/0636920045267.do</a></p>

<div class="table-responsive">
  <table class="table table-bordered table-hover">

    <thead class="thead-dark">
      <th>Date</th>
      <th>Topics</th>
      <th>Reading and Resources</th>
      <th>Reminders</th>
    </thead>
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 1</p></th></thead>
    
    
    
    <tr>
      <td>2018-08-20</td>
      <td>
        
        <a href="../slides/intro-dme.pdf">Intro to DME</a>
      </td>
      <td>
        
        <a href="syllabus.html">Syllabus</a><br/>
        
        <a href="schedule.html">Schedule</a><br/>
        
        <a href="http://cs1331.gatech.edu/slides/meet-simpkins.html">Meet the Teacher</a><br/>
        
        <a href="https://youtu.be/order">Video: Getting Started</a><br/>
        
        Exercise: <a href="../exercises/pre-test.html">CS 2316 Pre-test</a><br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw0/hw0.html">HW0 Released 2018-08-20</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-08-22</td>
      <td>
        
        <a href="../slides/intro-python.pdf">Intro to Python</a>
      </td>
      <td>
        
        Practical Programming, Ch 1<br/>
        
        <a href="https://youtu.be/ZDCHBkTMfE8">Video: Intro to Python</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-08-24</td>
      <td>
        
        <a href="../slides/python-values-variables.pdf">Values and Variables</a>
      </td>
      <td>
        
        Practical Programming, Ch 2<br/>
        
        <a href="https://youtu.be/iKG_hAXy0qQ">Video: Values and Variables</a><br/>
        
        <a href="../exercises/values-variables.html">Drill - Values and Variables</a><br/>
        
        
      </td>
      <td>
        
        Registration Deadline (2018-08-24)
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 2</p></th></thead>
    
    
    
    <tr>
      <td>2018-08-27</td>
      <td>
        
        <a href="../slides/python-functions.pdf">Functions</a>
      </td>
      <td>
        
        Practical Programming, Ch 3<br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw0/hw0.html">HW0 Due 2018-08-28</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-08-29</td>
      <td>
        
        <a href="../slides/python-modules-programs.pdf">Modules and Programs</a><br/>
        
        <a href="../slides/python-control-structures.pdf">Control Structures</a>
      </td>
      <td>
        
        Practical Programming, Ch 6<br/>
        
        <a href="../code/hanglib/">hanglib</a><br/>
        
        Exercise: <a href="../exercises/bmi.html">BMI Module</a><br/>
        
        Exercise: <a href="../exercises/hangman.html">Hangman</a><br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Selection/toctree.html">ITCS - Selection</a><br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/MoreAboutIteration/toctree.html">ITCS - Iteration</a><br/>
        
        TP 5, 7<br/>
        
        Drill: <a href="../exercises/data-transformation.html">Data Transformation</a><br/>
        
        Exercise: <a href="../exercises/data-util.html">Data Utilities</a><br/>
        
        Exercise: <a href="../exercises/grades.html">Grades Module</a><br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw1/hw1-textutil.html">HW1 Released 2018-08-30</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-08-31</td>
      <td>
        
        <a href="../slides/ipython.pdf">iPython</a><br/>
        
        <a href="../slides/python-data-structures.pdf">Data Structures</a>
      </td>
      <td>
        
        <br/>
        
        Practical Programming, Ch 11<br/>
        
        <a href="https://youtu.be/TtAQxtgPOwI">Video: Data Structures</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 3</p></th></thead>
    
    
    
    <tr>
      <td>2018-09-03</td>
      <td>
        
        Labor Day - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-05</td>
      <td>
        
        <a href="../slides/python-control-structures.pdf">Control Structures</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Selection/toctree.html">ITCS - Selection</a><br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/MoreAboutIteration/toctree.html">ITCS - Iteration</a><br/>
        
        TP 5, 7<br/>
        
        Drill: <a href="../exercises/data-transformation.html">Data Transformation</a><br/>
        
        Exercise: <a href="../exercises/data-util.html">Data Utilities</a><br/>
        
        Exercise: <a href="../exercises/grades.html">Grades Module</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-07</td>
      <td>
        
        <a href="../slides/python-functional-programming.pdf">Functional programming</a>
      </td>
      <td>
        
        TP 19<br/>
        
        
      </td>
      <td>
        
        Rosh Hashanah (2018-09-09)
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 4</p></th></thead>
    
    
    
    <tr>
      <td>2018-09-10</td>
      <td>
        
        <a href="../slides/python-functional-programming.pdf">Functional programming</a>
      </td>
      <td>
        
        TP 19<br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw1/hw1-textutil.html">HW1 Due 2018-09-11</a><br/>
        
        Rosh Hashanah<br/>
        
        Verification of Participation (Faculty) (2018-09-10)<br/>
        
        Rosh Hashanah (2018-09-11)
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-12</td>
      <td>
        
        <a href="../slides/python-functional-programming.pdf">Functional programming</a>
      </td>
      <td>
        
        TP 19<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-14</td>
      <td>
        
        classes-objects
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 5</p></th></thead>
    
    
    
    <tr>
      <td>2018-09-17</td>
      <td>
        
        classes-objects
      </td>
      <td>
        
        
      </td>
      <td>
        
        Yom Kippur<br/>
        
        GT All Majors Career Fair (2018-09-17)<br/>
        
        Yom Kippur<br/>
        
        GT All Majors Career Fair (2018-09-18)
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-19</td>
      <td>
        
        Review 1
      </td>
      <td>
        
        <a href="cs2316-exam1-practice.pdf">dme-exam1-practice.pdf</a><br/>
        
        <a href="cs2316-exam1-practice-answers.pdf">cs2316-exam1-practice-answers.pdf</a><br/>
        
        <a href="../exercises/exam1-practice.html">Exam 1 Practice Problems</a><br/>
        
        
      </td>
      <td>
        
        Yom Kippur (2018-09-19)
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-21</td>
      <td>
        
        <strong>Exam 1</strong>
      </td>
      <td>
        
        <a href="cs2316-exam1-practice.pdf">cs2316-exam1-practice.pdf</a><br/>
        
        <a href="cs2316-exam1-practice-answers.pdf">cs2316-exam1-practice-answers.pdf</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 6</p></th></thead>
    
    
    
    <tr>
      <td>2018-09-24</td>
      <td>
        
        <a href="../slides/python-file-io.pdf">File IO</a><br/>
        
        <a href="../slides/python-csv-files.pdf">CSV Files</a>
      </td>
      <td>
        
        Practical Programming, Ch 10<br/>
        
        <a href="../exercises/tree.html">Exercise: Tree</a><br/>
        
        IP 8<br/>
        
        Exercise: <a href="../exercises/student-emails.html">Student Emails</a> (<a href="../exercises/student_emails.py">Sample Answer</a>)<br/>
        
        Exercise: <a href="../exercises/tides.html">Tides</a><br/>
        
        Exercise: <a href="../exercises/calc-grades.html">Calculate Grades</a><br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw2/hw2-gtstudents.html">HW2 Released 2018-09-24</a><br/>
        
        Rosh Hashanah<br/>
        
        Verification of Participation (Faculty) (2018-09-10)<br/>
        
        Rosh Hashanah (2018-09-11)<br/>
        
        Sukkot (2018-09-24)<br/>
        
        Sukkot (2018-09-25)
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-26</td>
      <td>
        
        <a href="../slides/python-data-exchange-formats.pdf">Data Exchange Formats</a>
      </td>
      <td>
        
        IP 8<br/>
        
        <a href="../slides/xml-details.pdf">XML Details</a><br/>
        
        <a href="../slides/python-xml-database.pdf">Python XML and Database APIs</a><br/>
        
        <a href="http://json.org/">JSON Spec</a><br/>
        
        <a href="../code/structured-files/people.xml">people.xml</a><br/>
        
        Exercise: <a href="../exercises/books.html">Books</a><br/>
        
        
      </td>
      <td>
        
        Sukkot (2018-09-26)<br/>
        
        Sukkot (2018-09-27)
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-09-28</td>
      <td>
        
        <a href="../slides/python-data-exchange-formats.pdf">Data Exchange Formats</a>
      </td>
      <td>
        
        IP 8<br/>
        
        <a href="../slides/xml-details.pdf">XML Details</a><br/>
        
        <a href="../slides/python-xml-database.pdf">Python XML and Database APIs</a><br/>
        
        <a href="http://json.org/">JSON Spec</a><br/>
        
        <a href="../code/structured-files/people.xml">people.xml</a><br/>
        
        Exercise: <a href="../exercises/books.html">Books</a><br/>
        
        
      </td>
      <td>
        
        Sukkot (2018-09-28)<br/>
        
        Sukkot (2018-09-29)<br/>
        
        Sukkot (2018-09-30)
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 7</p></th></thead>
    
    
    
    <tr>
      <td>2018-10-01</td>
      <td>
        
        <a href="../slides/html.pdf">HTML</a><br/>
        
        <a href="../slides/python-regular-expressions.pdf">Regular Expressions</a>
      </td>
      <td>
        
        IP 8<br/>
        
        <a href=""></a><br/>
        
        IP 7<br/>
        
        <a href="https://docs.python.org/3/library/re.html">Python RE Module</a><br/>
        
        <a href="https://docs.python.org/3/howto/regex.html">Python Regex HowTo</a><br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw2/hw2-gtstudents.html">HW2 Due 2018-10-02</a><br/>
        
        Progress Reports Due (Faculty) (2018-10-01)
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-03</td>
      <td>
        
        <a href="../slides/python-web-scraping.pdf">Web Scraping</a>
      </td>
      <td>
        
        <a href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/">Beautiful Soup</a><br/>
        
        <a href="../code/web/wx.py">wx.py</a><br/>
        
        <a href="../code/web/movie.py">movie.py</a><br/>
        
        Exercise: <a href="../exercises/company-scraper.html">Company Scraper</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-05</td>
      <td>
        
        <a href="../slides/python-web-scraping.pdf">Web Scraping</a>
      </td>
      <td>
        
        <a href="https://www.crummy.com/software/BeautifulSoup/bs4/doc/">Beautiful Soup</a><br/>
        
        <a href="../code/web/wx.py">wx.py</a><br/>
        
        <a href="../code/web/movie.py">movie.py</a><br/>
        
        Exercise: <a href="../exercises/company-scraper.html">Company Scraper</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 8</p></th></thead>
    
    
    
    <tr>
      <td>2018-10-08</td>
      <td>
        
        Fall Recess - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-10</td>
      <td>
        
        <a href="../slides/python-web-services.pdf">Web Services</a>
      </td>
      <td>
        
        IP 8<br/>
        
        <a href="http://docs.python-requests.org/en/master/">Requests</a><br/>
        
        <a href="https://oauth.net/">OAuth</a><br/>
        
        <a href="http://json.org/">JSON Spec</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-12</td>
      <td>
        
        <a href="../slides/relational-databases.pdf">Relational Databases</a><br/>
        
        <a href="../slides/sql-ddl.pdf">SQL DDL</a><br/>
        
        <a href="../slides/sql-crud.pdf">SQL CRUD</a>
      </td>
      <td>
        
        <br/>
        
        <a href="mysql.html">MySQL Guide</a><br/>
        
        Exercise: <a href="../exercises/registration-database.html">Registration Database</a><br/>
        
        Exercise: <a href="../exercises/pubs-queries.sql">Pubs Queries</a><br/>
        
        <a href="../databases/mysql.html">MySQL Guide</a> - on databases course web site<br/>
        
        Exercise: <a href="../exercises/registration-database.html">Registration Database</a><br/>
        
        Exercise: <a href="../exercises/pubs-queries.sql">Pubs Queries</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 9</p></th></thead>
    
    
    
    <tr>
      <td>2018-10-15</td>
      <td>
        
        <a href="../slides/sql-queries.pdf">SQL Queries</a>
      </td>
      <td>
        
        <a href="../databases/mysql.html">MySQL Guide</a> - on databases course web site<br/>
        
        Exercise: <a href="../exercises/registration-database.html">Registration Database</a><br/>
        
        Exercise: <a href="../exercises/dorms-queries.html">Exercise: Dorms Queries</a><br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw3/playlists.html">HW3 Released 2018-10-15</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-17</td>
      <td>
        
        <a href="../slides/sql-queries.pdf">SQL Queries</a>
      </td>
      <td>
        
        <a href="../databases/mysql.html">MySQL Guide</a> - on databases course web site<br/>
        
        Exercise: <a href="../exercises/registration-database.html">Registration Database</a><br/>
        
        Exercise: <a href="../exercises/dorms-queries.html">Exercise: Dorms Queries</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-19</td>
      <td>
        
        <a href="../slides/python-db-api.pdf">Python Database API</a>
      </td>
      <td>
        
        <a href="../slides/python-xml-database.pdf">Python XML and Database APIs</a><br/>
        
        <a href="https://www.python.org/dev/peps/pep-0249/">Python DB-API</a><br/>
        
        <a href="https://docs.python.org/3/library/sqlite3.html">Python SQLite API</a><br/>
        
        <a href="http://pymysql.readthedocs.io/en/latest/">PyMySQL</a><br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw3/playlists.html">HW3 Due 2018-10-19</a><br/>
        
        Vijayadashami (2018-10-19)
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 10</p></th></thead>
    
    
    
    <tr>
      <td>2018-10-22</td>
      <td>
        
        Review 2
      </td>
      <td>
        
        <a href="cs2316-exam2-practice.pdf">cs2316-exam2-practice.pdf</a><br/>
        
        <a href="cs2316-exam2-practice-answers.pdf">cs2316-exam2-practice-answers.pdf</a><br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw4/humane-db.html">HW4 Released 2018-10-22</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-24</td>
      <td>
        
        <strong>Exam 2</strong>
      </td>
      <td>
        
        <a href="cs2316-exam2-practice.pdf">cs2316-exam2-practice.pdf</a><br/>
        
        <a href="cs2316-exam2-practice-answers.pdf">cs2316-exam2-practice-answers.pdf</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-26</td>
      <td>
        
        <a href="../slides/python-db-api.pdf">Python Database API</a>
      </td>
      <td>
        
        <a href="../slides/python-xml-database.pdf">Python XML and Database APIs</a><br/>
        
        <a href="https://www.python.org/dev/peps/pep-0249/">Python DB-API</a><br/>
        
        <a href="https://docs.python.org/3/library/sqlite3.html">Python SQLite API</a><br/>
        
        <a href="http://pymysql.readthedocs.io/en/latest/">PyMySQL</a><br/>
        
        
      </td>
      <td>
        
        Grade Mode Deadline<br/>
        
        Grade Substitution Deadline<br/>
        
        Withdrawal Deadline (2018-10-27)
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 11</p></th></thead>
    
    
    
    <tr>
      <td>2018-10-29</td>
      <td>
        
        <a href="../slides/pyqt-guis.pdf">Python GUIs</a>
      </td>
      <td>
        
        <a href="../code/gui">GUI Example Code</a><br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw4/humane-db.html">HW4 Due 2018-10-30</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-31</td>
      <td>
        
        <a href="../slides/pyqt-guis.pdf">Python GUIs</a>
      </td>
      <td>
        
        <a href="../code/gui">GUI Example Code</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-02</td>
      <td>
        
        <a href="../slides/pyqt-guis.pdf">Python GUIs</a>
      </td>
      <td>
        
        <a href="../code/gui">GUI Example Code</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 12</p></th></thead>
    
    
    
    <tr>
      <td>2018-11-05</td>
      <td>
        
        <a href="../slides/scipy.pdf">Data Analytics in Python</a>
      </td>
      <td>
        
        <a href="https://gitlab.com/datamastery/datamastery.gitlab.io/tree/master/code/analytics">Example code</a><br/>
        
        <a href="https://scipy.org/">SciPy.org</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-07</td>
      <td>
        
        <a href="../slides/numpy.pdf">NumPy</a>
      </td>
      <td>
        
        <a href="https://docs.scipy.org/doc/numpy-1.14.0/index.html">Numpy Manual</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-09</td>
      <td>
        
        <a href="../slides/numpy.pdf">NumPy</a>
      </td>
      <td>
        
        <a href="https://docs.scipy.org/doc/numpy-1.14.0/index.html">Numpy Manual</a><br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw5/humanexgui.html">HW5 Released 2018-11-09</a>
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 13</p></th></thead>
    
    
    
    <tr>
      <td>2018-11-12</td>
      <td>
        
        <a href="../slides/pandas.pdf">Pandas</a>
      </td>
      <td>
        
        <a href="http://pandas.pydata.org/">Pandas.PyData.org</a><br/>
        
        Exercise: <a href="../exercises/health-analysis.html">Health Data Analysis</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-14</td>
      <td>
        
        <a href="../slides/pandas.pdf">Pandas</a>
      </td>
      <td>
        
        <a href="http://pandas.pydata.org/">Pandas.PyData.org</a><br/>
        
        Exercise: <a href="../exercises/health-analysis.html">Health Data Analysis</a><br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw6/water-temps.html">HW6 Released 2018-11-15</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-16</td>
      <td>
        
        Homework/Project Review
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 14</p></th></thead>
    
    
    
    <tr>
      <td>2018-11-19</td>
      <td>
        
        No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-21</td>
      <td>
        
        Student Recess - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-23</td>
      <td>
        
        Thanksgiving Break - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 15</p></th></thead>
    
    
    
    <tr>
      <td>2018-11-26</td>
      <td>
        
        <a href="../slides/review3.pdf">Review 3</a>
      </td>
      <td>
        
        <a href="cs2316-exam3-practice.pdf">cs2316-exam3-practice.pdf</a><br/>
        
        <a href="cs2316-exam3-practice-answers.pdf">cs2316-exam3-practice-answers.pdf</a><br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw6/water-temps.html">HW6 Due 2018-11-27</a><br/>
        
        <a href="fall2018/final-project/movies-etl.html">Final Project Part 1</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-28</td>
      <td>
        
        <strong>Exam 3</strong>
      </td>
      <td>
        
        <br/>
        
        
      </td>
      <td>
        
        <a href="fall2018/hw5/humanexgui.html">HW5 Due 2018-11-29</a><br/>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-11-30</td>
      <td>
        
        <a href="../slides/python-dataviz.pdf">Data Visualization with Python</a>
      </td>
      <td>
        
        <a href="https://matplotlib.org/">Matplotlib.org</a><br/>
        
        
      </td>
      <td>
        
        Hanukkah (2018-12-02)
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 16</p></th></thead>
    
    
    
    <tr>
      <td>2018-12-03</td>
      <td>
        
        Final Review
      </td>
      <td>
        
        
      </td>
      <td>
        
        Final Instructional Days<br/>
        
        Hanukkah (2018-12-03)<br/>
        
        <a href="fall2018/final-project/movies-analysis.html">Final Project Part 2</a>
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Final Exam</p></th></thead>
    
    
    
    <tr>
      <td>2018-10-10</td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
      <td>
        
        <a href="fall2018/final-project/movies-etl.html">Final Project Part 1 Due</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-10-11</td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
      <td>
        
        <a href="fall2018/final-project/movies-analysis.html">Final Project Part 2 Due</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-12-13</td>
      <td>
        
        2:40 PM ‐ 5:30 PM: All Sections
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
  </table>
</div>
