---
layout: dme
title: CS 2316 - Summer 2018 GTL
---

<h1>CS 2316 - Summer 2018 GTL</h1>

<ul>
  <li>Lecture: 4 days per week from 10:30 - 11:30</li>
</ul>

<h2>Lecture Schedule</h2>

<p>
  Topics link to slides, where available.
</p>

<p>ITCS means <a href="http://interactivepython.org/runestone/static/thinkcspy/index.html">Interactive Think CS Textbook</a></p>
<p>IP means <a href="http://shop.oreilly.com/product/0636920028659.do">Introducting Python</a></p>
<p>TP means Think Python, 2nd Edition, by Allen B. Downey, O'Reilly Media, December 2015. Available free at <a href="http://greenteapress.com/wp/think-python-2e/">http://greenteapress.com/wp/think-python-2e/</a> and from O'Reilly at <a href="http://shop.oreilly.com/product/0636920045267.do">http://shop.oreilly.com/product/0636920045267.do</a></p>

<div class="table-responsive">
  <table class="table table-bordered table-hover">

    <thead class="thead-dark">
      <th>Date</th>
      <th>Topics</th>
      <th>Reading and Resources</th>
      <th>Reminders</th>
    </thead>
    
    
    <thead class="thead-light"><th colspan="4"><p>Python Review</p></th></thead>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 1</p></th></thead>
    
    
    
    <tr>
      <td>2018-05-14</td>
      <td>
        
        Dorm Check-in
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-05-15</td>
      <td>
        
        Orientations
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-05-16</td>
      <td>
        
        <a href="../slides/intro-dme.pdf">Intro to DME</a>
      </td>
      <td>
        
        <a href="syllabus.html">Syllabus</a><br/>
        
        <a href="schedule.html">Schedule</a><br/>
        
        <a href="http://cs1331.gatech.edu/slides/meet-simpkins.html">Meet the Teacher</a><br/>
        
        <a href="https://youtu.be/order">Video: Getting Started</a><br/>
        
        Exercise: <a href="../exercises/pre-test.html">CS 2316 Pre-test</a><br/>
        
        
      </td>
      <td>
        
        <a href="hw0/hw0.html">HW0 Released 2018-05-16</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-05-17</td>
      <td>
        
        <a href="../slides/intro-python.pdf">Intro to Python</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/GeneralIntro/introduction.html">ITCS - Introduction</a><br/>
        
        TP 1<br/>
        
        <a href="https://youtu.be/ZDCHBkTMfE8">Video: Intro to Python</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-05-18</td>
      <td>
        
        <a href="../slides/python-values-variables.pdf">Values and Variables</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/SimplePythonData/toctree.html">ITCS - Simple Data</a><br/>
        
        TP 2<br/>
        
        <a href="https://youtu.be/iKG_hAXy0qQ">Video: Values and Variables</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 2</p></th></thead>
    
    
    
    <tr>
      <td>2018-05-21</td>
      <td>
        
        No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-05-22</td>
      <td>
        
        <a href="../slides/python-functions.pdf">Functions</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Functions/toctree.html">ITCS - Functions</a><br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/PythonTurtle/toctree.html">ITCS - Turtles</a><br/>
        
        TP 3<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-05-23</td>
      <td>
        
        <a href="../slides/python-modules-programs.pdf">Modules and Programs</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/PythonModules/toctree.html">ITCS - Modules</a><br/>
        
        TP 1,14<br/>
        
        <a href="../code/hanglib/">hanglib</a><br/>
        
        Exercise: <a href="../exercises/bmi.html">BMI Module</a><br/>
        
        Exercise: <a href="../exercises/hangman.html">Hangman</a><br/>
        
        
      </td>
      <td>
        
        <a href="hw0/hw0.html">HW0 Due 2018-05-23</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-05-24</td>
      <td>
        
        <a href="../slides/python-data-structures.pdf">Data Structures</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Lists/toctree.html">ITCS - Lists</a><br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Dictionaries/toctree.html">ITCS - Dictionaries</a><br/>
        
        TP 10,11,12<br/>
        
        <a href="https://youtu.be/TtAQxtgPOwI">Video: Data Structures</a><br/>
        
        Exercise: <a href="../exercises/data-util.html">Data Utilities</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-05-25</td>
      <td>
        
        <a href="../slides/python-data-structures.pdf">Data Structures</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Lists/toctree.html">ITCS - Lists</a><br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Dictionaries/toctree.html">ITCS - Dictionaries</a><br/>
        
        TP 10,11,12<br/>
        
        <a href="https://youtu.be/TtAQxtgPOwI">Video: Data Structures</a><br/>
        
        Exercise: <a href="../exercises/data-util.html">Data Utilities</a><br/>
        
        
      </td>
      <td>
        
        <a href="hw1/hw1-generate-sentence.html">HW1 Released 2018-05-25</a>
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 3</p></th></thead>
    
    
    
    <tr>
      <td>2018-05-28</td>
      <td>
        
        strings
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-05-29</td>
      <td>
        
        <a href="../slides/ipython.pdf">iPython</a>
      </td>
      <td>
        
        <br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-05-30</td>
      <td>
        
        <a href="../slides/python-control-structures.pdf">Control Structures</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Selection/toctree.html">ITCS - Selection</a><br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/MoreAboutIteration/toctree.html">ITCS - Iteration</a><br/>
        
        TP 5, 7<br/>
        
        Exercise: <a href="../exercises/grades.html">Grades Module</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-05-31</td>
      <td>
        
        <a href="../slides/python-control-structures.pdf">Control Structures</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Selection/toctree.html">ITCS - Selection</a><br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/MoreAboutIteration/toctree.html">ITCS - Iteration</a><br/>
        
        TP 5, 7<br/>
        
        Exercise: <a href="../exercises/grades.html">Grades Module</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-01</td>
      <td>
        
        No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 4</p></th></thead>
    
    
    
    <tr>
      <td>2018-06-04</td>
      <td>
        
        <a href="../slides/python-functional-programming.pdf">Functional programming</a>
      </td>
      <td>
        
        TP 19<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-05</td>
      <td>
        
        <a href="../slides/python-functional-programming.pdf">Functional programming</a>
      </td>
      <td>
        
        TP 19<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-06</td>
      <td>
        
        <a href="../slides/python-classes-objects.pdf">Classes and Objects</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/ClassesBasics/toctree.html">ITCS - Classes and Objects</a><br/>
        
        <a href="../code/classes">OOP Code</a><br/>
        
        TP 15 - 18<br/>
        
        <a href="../exercises/people-objects.html">Exercise: Treating People as Objects</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-07</td>
      <td>
        
        <a href="../slides/python-classes-objects.pdf">Classes and Objects</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/ClassesBasics/toctree.html">ITCS - Classes and Objects</a><br/>
        
        <a href="../code/classes">OOP Code</a><br/>
        
        TP 15 - 18<br/>
        
        <a href="../exercises/people-objects.html">Exercise: Treating People as Objects</a><br/>
        
        
      </td>
      <td>
        
        <a href="hw1/hw1-generate-sentence.html">HW1 Due 2018-06-07</a><br/>
        
        <a href="hw2/hw2-source-model.html">HW2 Released 2018-06-07</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-08</td>
      <td>
        
        No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Data Formats, Retrieval, and Storage</p></th></thead>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 5</p></th></thead>
    
    
    
    <tr>
      <td>2018-06-11</td>
      <td>
        
        <a href="../slides/python-classes-objects.pdf">Classes and Objects</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/ClassesBasics/toctree.html">ITCS - Classes and Objects</a><br/>
        
        <a href="../code/classes">OOP Code</a><br/>
        
        TP 15 - 18<br/>
        
        <a href="../exercises/people-objects.html">Exercise: Treating People as Objects</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-12</td>
      <td>
        
        <a href="../slides/python-file-io.pdf">File IO</a><br/>
        
        <a href="../slides/python-csv-files.pdf">CSV Files</a>
      </td>
      <td>
        
        IP 8<br/>
        
        <a href="../exercises/tree.html">Exercise: Tree</a><br/>
        
        IP 8<br/>
        
        Exercise: <a href="../exercises/student-emails.html">Student Emails</a> (<a href="../exercises/student_emails.py">Sample Answer</a>)<br/>
        
        Exercise: <a href="../exercises/tides.html">Tides</a><br/>
        
        Exercise: <a href="../exercises/calc-grades.html">Calculate Grades</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-13</td>
      <td>
        
        Review 1
      </td>
      <td>
        
        <a href="cs2316-exam1-practice.pdf">dme-exam1-practice.pdf</a><br/>
        
        <a href="cs2316-exam1-practice-answers.pdf">cs2316-exam1-practice-answers.pdf</a><br/>
        
        <a href="../exercises/exam1-practice.html">Exam 1 Practice Problems</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-14</td>
      <td>
        
        <strong>Exam 1</strong>
      </td>
      <td>
        
        <a href="cs2316-exam1-practice.pdf">cs2316-exam1-practice.pdf</a><br/>
        
        <a href="cs2316-exam1-practice-answers.pdf">cs2316-exam1-practice-answers.pdf</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-15</td>
      <td>
        
        No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 6</p></th></thead>
    
    
    
    <tr>
      <td>2018-06-18</td>
      <td>
        
        <a href="../slides/python-file-io.pdf">File IO</a><br/>
        
        <a href="../slides/python-csv-files.pdf">CSV Files</a>
      </td>
      <td>
        
        IP 8<br/>
        
        <a href="../exercises/tree.html">Exercise: Tree</a><br/>
        
        IP 8<br/>
        
        Exercise: <a href="../exercises/student-emails.html">Student Emails</a> (<a href="../exercises/student_emails.py">Sample Answer</a>)<br/>
        
        Exercise: <a href="../exercises/tides.html">Tides</a><br/>
        
        Exercise: <a href="../exercises/calc-grades.html">Calculate Grades</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-19</td>
      <td>
        
        <a href="../slides/python-file-io.pdf">File IO</a><br/>
        
        <a href="../slides/python-csv-files.pdf">CSV Files</a>
      </td>
      <td>
        
        IP 8<br/>
        
        <a href="../exercises/tree.html">Exercise: Tree</a><br/>
        
        IP 8<br/>
        
        Exercise: <a href="../exercises/student-emails.html">Student Emails</a> (<a href="../exercises/student_emails.py">Sample Answer</a>)<br/>
        
        Exercise: <a href="../exercises/tides.html">Tides</a><br/>
        
        Exercise: <a href="../exercises/calc-grades.html">Calculate Grades</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-20</td>
      <td>
        
        <a href="../slides/python-csv-files.pdf">CSV Files</a>
      </td>
      <td>
        
        IP 8<br/>
        
        Exercise: <a href="../exercises/student-emails.html">Student Emails</a> (<a href="../exercises/student_emails.py">Sample Answer</a>)<br/>
        
        Exercise: <a href="../exercises/tides.html">Tides</a><br/>
        
        Exercise: <a href="../exercises/calc-grades.html">Calculate Grades</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-21</td>
      <td>
        
        <a href="../slides/python-csv-files.pdf">CSV Files</a>
      </td>
      <td>
        
        IP 8<br/>
        
        Exercise: <a href="../exercises/student-emails.html">Student Emails</a> (<a href="../exercises/student_emails.py">Sample Answer</a>)<br/>
        
        Exercise: <a href="../exercises/tides.html">Tides</a><br/>
        
        Exercise: <a href="../exercises/calc-grades.html">Calculate Grades</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-22</td>
      <td>
        
        <a href="../slides/python-data-exchange-formats.pdf">Data Exchange Formats</a>
      </td>
      <td>
        
        IP 8<br/>
        
        <a href="../slides/xml-details.pdf">XML Details</a><br/>
        
        <a href="../slides/python-xml-database.pdf">Python XML and Database APIs</a><br/>
        
        <a href="http://json.org/">JSON Spec</a><br/>
        
        <a href="../code/structured-files/people.xml">people.xml</a><br/>
        
        Exercise: <a href="../exercises/books.html">Books</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 7</p></th></thead>
    
    
    
    <tr>
      <td>2018-06-25</td>
      <td>
        
        No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-26</td>
      <td>
        
        No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-27</td>
      <td>
        
        No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-28</td>
      <td>
        
        <a href="../slides/relational-model.pdf">Relational Model</a></a>
      </td>
      <td>
        
        <br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-06-29</td>
      <td>
        
        <a href="../slides/basic-relational-design.pdf">Basic Relational Design</a>
      </td>
      <td>
        
        <br/>
        
        
      </td>
      <td>
        
        <a href="hw2/hw2-source-model.html">HW2 Due 2018-06-29</a>
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 8</p></th></thead>
    
    
    
    <tr>
      <td>2018-07-02</td>
      <td>
        
        MySQL Install Fest
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-03</td>
      <td>
        
        Field Trip
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-04</td>
      <td>
        
        <a href="../slides/sql-ddl.pdf">SQL DDL</a><br/>
        
        <a href="../slides/sql-crud.pdf">SQL CRUD</a>
      </td>
      <td>
        
        <a href="mysql.html">MySQL Guide</a><br/>
        
        Exercise: <a href="../exercises/registration-database.html">Registration Database</a><br/>
        
        Exercise: <a href="../exercises/pubs-queries.sql">Pubs Queries</a><br/>
        
        <a href="../databases/mysql.html">MySQL Guide</a> - on databases course web site<br/>
        
        Exercise: <a href="../exercises/registration-database.html">Registration Database</a><br/>
        
        Exercise: <a href="../exercises/pubs-queries.sql">Pubs Queries</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-05</td>
      <td>
        
        <a href="../slides/sql-queries.pdf">SQL Queries</a>
      </td>
      <td>
        
        <a href="../databases/mysql.html">MySQL Guide</a> - on databases course web site<br/>
        
        Exercise: <a href="../exercises/registration-database.html">Registration Database</a><br/>
        
        Exercise: <a href="../exercises/dorms-queries.html">Exercise: Dorms Queries</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-06</td>
      <td>
        
        No CS 2316 Lecture
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 9</p></th></thead>
    
    
    
    <tr>
      <td>2018-07-09</td>
      <td>
        
        No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-10</td>
      <td>
        
        <a href="../slides/sql-queries.pdf">SQL Queries</a>
      </td>
      <td>
        
        <a href="../databases/mysql.html">MySQL Guide</a> - on databases course web site<br/>
        
        Exercise: <a href="../exercises/registration-database.html">Registration Database</a><br/>
        
        Exercise: <a href="../exercises/dorms-queries.html">Exercise: Dorms Queries</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-11</td>
      <td>
        
        <a href="../slides/sql-queries.pdf">SQL Queries</a>
      </td>
      <td>
        
        <a href="../databases/mysql.html">MySQL Guide</a> - on databases course web site<br/>
        
        Exercise: <a href="../exercises/registration-database.html">Registration Database</a><br/>
        
        Exercise: <a href="../exercises/dorms-queries.html">Exercise: Dorms Queries</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-12</td>
      <td>
        
        <a href="../slides/python-regular-expressions.pdf">Regular Expressions</a><br/>
        
        <a href="../slides/html.pdf">HTML</a><br/>
        
        web-mining<br/>
        
        (None of this on Exam 2)
      </td>
      <td>
        
        IP 7<br/>
        
        <a href="https://docs.python.org/3/library/re.html">Python RE Module</a><br/>
        
        <a href="https://docs.python.org/3/howto/regex.html">Python Regex HowTo</a><br/>
        
        IP 8<br/>
        
        <a href=""></a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-13</td>
      <td>
        
        <strong>Exam 2</strong>
      </td>
      <td>
        
        <a href="cs2316-exam2-practice.pdf">cs2316-exam2-practice.pdf</a><br/>
        
        <a href="cs2316-exam2-practice-answers.pdf">cs2316-exam2-practice-answers.pdf</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Data Analytics</p></th></thead>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 10</p></th></thead>
    
    
    
    <tr>
      <td>2018-07-16</td>
      <td>
        
        Guest lecture: data manipulation in research
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-17</td>
      <td>
        
        <a href="../slides/pyqt-guis.pdf">Python GUIs</a>
      </td>
      <td>
        
        <a href="../code/gui">GUI Example Code</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-18</td>
      <td>
        
        <a href="../slides/pyqt-guis.pdf">Python GUIs</a>
      </td>
      <td>
        
        <a href="../code/gui">GUI Example Code</a><br/>
        
        
      </td>
      <td>
        
        <a href="hw3/hw3-scrapeta.html">HW3 Released 2018-07-18</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-19</td>
      <td>
        
        <a href="../slides/pyqt-guis.pdf">Python GUIs</a>
      </td>
      <td>
        
        <a href="../code/gui">GUI Example Code</a><br/>
        
        
      </td>
      <td>
        
        <a href="hw4/hw4-attraction-gui.html">HW4 Released 2018-07-19</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-20</td>
      <td>
        
        No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Week 11</p></th></thead>
    
    
    
    <tr>
      <td>2018-07-23</td>
      <td>
        
        <a href="../slides/python-db-api.pdf">Python Database API</a><br/>
        
        <a href="../slides/pyqt-guis.pdf">Python GUIs</a>
      </td>
      <td>
        
        <a href="../slides/python-xml-database.pdf">Python XML and Database APIs</a><br/>
        
        <a href="https://www.python.org/dev/peps/pep-0249/">Python DB-API</a><br/>
        
        <a href="https://docs.python.org/3/library/sqlite3.html">Python SQLite API</a><br/>
        
        <a href="http://pymysql.readthedocs.io/en/latest/">PyMySQL</a><br/>
        
        <a href="../code/gui">GUI Example Code</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-24</td>
      <td>
        
        <a href="../slides/numpy.pdf">NumPy</a>
      </td>
      <td>
        
        <a href="https://docs.scipy.org/doc/numpy-1.14.0/index.html">Numpy Manual</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-25</td>
      <td>
        
        <a href="../slides/pandas.pdf">Pandas</a>
      </td>
      <td>
        
        <a href="http://pandas.pydata.org/">Pandas.PyData.org</a><br/>
        
        
      </td>
      <td>
        
        <a href="hw3/hw3-scrapeta.html">HW3 Due 2018-07-25</a><br/>
        
        <a href="hw4/hw4-attraction-gui.html">HW4 Due 2018-07-25</a>
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-26</td>
      <td>
        
        <a href="../slides/pandas.pdf">Pandas</a>
      </td>
      <td>
        
        <a href="http://pandas.pydata.org/">Pandas.PyData.org</a><br/>
        
        
      </td>
      <td>
        
        Final Instructional Day
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-27</td>
      <td>
        
        Reading Day - No Class
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Finals Week</p></th></thead>
    
    
    
    <tr>
      <td>2018-07-30</td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-07-31</td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-08-01</td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-08-02</td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>2018-08-03</td>
      <td>
        
        Dorm Check-out
      </td>
      <td>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
  </table>
</div>
