---
layout: msabc
title: MSA Python Bootcamp - August 2018
---

<h1>MSA Python Bootcamp - August 2018</h1>

<h2>Lecture Schedule</h2>

<p>
  Topics link to slides, where available.
</p>

<p>ITCS means <a href="http://interactivepython.org/runestone/static/thinkcspy/index.html">Interactive Think CS Textbook</a></p>
<p>IP means <a href="http://shop.oreilly.com/product/0636920028659.do">Introducting Python</a></p>
<p>TP means Think Python, 2nd Edition, by Allen B. Downey, O'Reilly Media, December 2015. Available free at <a href="http://greenteapress.com/wp/think-python-2e/">http://greenteapress.com/wp/think-python-2e/</a> and from O'Reilly at <a href="http://shop.oreilly.com/product/0636920045267.do">http://shop.oreilly.com/product/0636920045267.do</a></p>

<div class="table-responsive">
  <table class="table table-bordered table-hover">

    <thead class="thead-dark">
      <th>Date</th>
      <th>Topics</th>
      <th>Reading and Resources</th>
      <th>Reminders</th>
    </thead>
    
    
    <thead class="thead-light"><th colspan="4"><p>Monday, 2018-08-13</p></th></thead>
    
    
    
    <tr>
      <td>13:30 - 14:30</td>
      <td>
        
        Course Intro and Tool Set-up<br/>
        
        <a href="../slides/intro-python.pdf">Intro to Python</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/GeneralIntro/introduction.html">ITCS - Introduction</a><br/>
        
        TP 1<br/>
        
        <a href="https://youtu.be/ZDCHBkTMfE8">Video: Intro to Python</a><br/>
        
        <a href="https://www.youtube.com/watch?v=znjTbnH42Rk&amp;t">Video: Getting Started</a>
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>14:30 - 16:00</td>
      <td>
        
        <a href="../slides/python-values-variables.pdf">Values and Variables</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/SimplePythonData/toctree.html">ITCS - Simple Data</a><br/>
        
        TP 2<br/>
        
        <a href="https://youtu.be/iKG_hAXy0qQ">Video: Values and Variables</a><br/>
        
        <a href="../exercises/values-variables.html">Drill - Values and Variables</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>16:00 - 17:00</td>
      <td>
        
        <a href="../slides/python-functions.pdf">Functions</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Functions/toctree.html">ITCS - Functions</a><br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/PythonTurtle/toctree.html">ITCS - Turtles</a><br/>
        
        TP 3<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Tuesday, 2018-08-14</p></th></thead>
    
    
    
    <tr>
      <td>13:30 - 14:30</td>
      <td>
        
        <a href="../slides/python-functions.pdf">Functions</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Functions/toctree.html">ITCS - Functions</a><br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/PythonTurtle/toctree.html">ITCS - Turtles</a><br/>
        
        TP 3<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>14:00 - 15:00</td>
      <td>
        
        <a href="../slides/python-modules-programs.pdf">Modules and Programs</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/PythonModules/toctree.html">ITCS - Modules</a><br/>
        
        TP 1,14<br/>
        
        <a href="../code/hanglib/">hanglib</a><br/>
        
        Exercise: <a href="../exercises/bmi.html">BMI Module</a><br/>
        
        Exercise: <a href="../exercises/hangman.html">Hangman</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>15:00 - 16:30</td>
      <td>
        
        <a href="../slides/python-data-structures.pdf">Data Structures</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Lists/toctree.html">ITCS - Lists</a><br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Dictionaries/toctree.html">ITCS - Dictionaries</a><br/>
        
        TP 10,11,12<br/>
        
        <a href="https://youtu.be/TtAQxtgPOwI">Video: Data Structures</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>16:30 - 17:00</td>
      <td>
        
        <a href="../slides/ipython.pdf">iPython</a>
      </td>
      <td>
        
        <br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Wednesday, 2018-08-15</p></th></thead>
    
    
    
    <tr>
      <td>15:00 - 16:30</td>
      <td>
        
        <a href="../slides/python-control-structures.pdf">Control Structures</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/Selection/toctree.html">ITCS - Selection</a><br/>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/MoreAboutIteration/toctree.html">ITCS - Iteration</a><br/>
        
        TP 5, 7<br/>
        
        Drill: <a href="../exercises/data-transformation.html">Data Transformation</a><br/>
        
        Exercise: <a href="../exercises/data-util.html">Data Utilities</a><br/>
        
        Exercise: <a href="../exercises/grades.html">Grades Module</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>16:30 - 1800</td>
      <td>
        
        <a href="../slides/python-functional-programming.pdf">Functional programming</a>
      </td>
      <td>
        
        TP 19<br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Thursday, 2018-08-16</p></th></thead>
    
    
    
    <tr>
      <td>13:00 - 15:00</td>
      <td>
        
        <a href="../slides/python-classes-objects.pdf">Classes and Objects</a>
      </td>
      <td>
        
        <a href="http://interactivepython.org/runestone/static/thinkcspy/ClassesBasics/toctree.html">ITCS - Classes and Objects</a><br/>
        
        <a href="../code/classes">OOP Code</a><br/>
        
        TP 15 - 18<br/>
        
        <a href="../exercises/people-objects.html">Exercise: Treating People as Objects</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>15:00 - 15:30</td>
      <td>
        
        <a href="../slides/python-file-io.pdf">File IO</a>
      </td>
      <td>
        
        IP 8<br/>
        
        <a href="../exercises/tree.html">Exercise: Tree</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>15:30 - 17:00</td>
      <td>
        
        <a href="../slides/python-csv-files.pdf">CSV Files</a>
      </td>
      <td>
        
        IP 8<br/>
        
        Exercise: <a href="../exercises/student-emails.html">Student Emails</a> (<a href="../exercises/student_emails.py">Sample Answer</a>)<br/>
        
        Exercise: <a href="../exercises/tides.html">Tides</a><br/>
        
        Exercise: <a href="../exercises/calc-grades.html">Calculate Grades</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <thead class="thead-light"><th colspan="4"><p>Friday, 2018-08-17</p></th></thead>
    
    
    
    <tr>
      <td>13:30 - 14:00</td>
      <td>
        
        <a href="../slides/scipy.pdf">Data Analytics in Python</a>
      </td>
      <td>
        
        <a href="https://gitlab.com/datamastery/datamastery.gitlab.io/tree/master/code/analytics">Example code</a><br/>
        
        <a href="https://scipy.org/">SciPy.org</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>14:00 - 15:00</td>
      <td>
        
        <a href="../slides/numpy.pdf">NumPy</a>
      </td>
      <td>
        
        <a href="https://docs.scipy.org/doc/numpy-1.14.0/index.html">Numpy Manual</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>15:00 - 16:30</td>
      <td>
        
        <a href="../slides/pandas.pdf">Pandas</a>
      </td>
      <td>
        
        <a href="http://pandas.pydata.org/">Pandas.PyData.org</a><br/>
        
        Exercise: <a href="../exercises/health-analysis.html">Health Data Analysis</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
    
    <tr>
      <td>16:30 - 17:00</td>
      <td>
        
        <a href="../slides/python-dataviz.pdf">Data Visualization with Python</a>
      </td>
      <td>
        
        <a href="https://matplotlib.org/">Matplotlib.org</a><br/>
        
        
      </td>
      <td>
        
        
      </td>
    </tr>
    
    
  </table>
</div>
