<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="../css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="../css/main.css">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="../css/bootstrap.min.css">

  <!-- Custom styles for this template -->
  <link href="../css/navbar-top-fixed.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

    </head>
    <body>

      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href=".">QCF Python Workshop</a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"><a class="nav-link" href="syllabus.html">Syllabus</a></li>
              <li class="nav-item"><a class="nav-link" href="schedule.html">Schedule</a></li>
              <li class="nav-item"><a class="nav-link" href="office-hours.html">Office Hours</a></li>
              <li class="nav-item"><a class="nav-link" href="resources.html">Resources</a></li>
              <!-- <li class="nav-item"><a class="nav-link" href="ta-info.html">TAs</a></li> -->
              <!-- <li class="nav-item"><a class="nav-link" href="project.html">Project</a></li> -->
            </ul>
            <ul class="navbar-nav pull-right">
              <li class="nav-item pull-right">
                <a class="nav-link" href="/">Data Mastery Home</a>
              </li>
            </ul>
            <!-- <ul class="navbar-nav pull-right"> -->
            <!--   <li class="nav-item dropdown"> -->
            <!--     <a href="#" id="dropdown" class="nav-link dropdown-toggle" -->
            <!--        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> -->
            <!--       Data Mastery Courses <img hspace="25" /> -->
            <!--     </a> -->
            <!--     <div class="dropdown-menu" aria-labelledby="dropdown"> -->
            <!--       <a class="dropdown-item" href="../computing/">Computing Basics</a> -->
            <!--       <a class="dropdown-item" href="../python/">Python Programming</a> -->
            <!--       <a class="dropdown-item" href="../scala/">Scala Programming</a> -->
            <!--       <a class="dropdown-item" href="../dme/">Data Manipulation for Engineers</a> -->
            <!--       <a class="dropdown-item" href="../dmcs/">Data Manipulation for CS</a> -->
            <!--       <a class="dropdown-item" href="../databases/">Intro to Databases</a> -->
            <!--     </div> -->
            <!--   </li> -->
            <!-- </ul> -->
          </div>
      </nav>

      <main role="main" class="container">
      {{ content }}
      </main>

      <!-- Bootstrap core JavaScript
           ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
              integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
              integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

      <script src="../js/bootstrap.min.js"></script>
    </body>
</html>
